.tableCover{
    background:#fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    .tableHead{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input, select{
            height: 38px;
            border:1px solid #dddddd;
            min-width: 220px;
            margin: 0 15px;
            padding: 0 10px;
            font-size: 15px;
        }
        .orgn-btn{
            height: 40px;
            font-size: 17px;
        }
    }
    .upperHead{
        padding: 15px;
        display: flex;
        border-bottom: 1px solid #ccc;
        justify-content: space-between;
        align-items: center;
        .detls{
            display: flex;
          
            flex: 1;
            p{
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
                margin:  0 10px;
                color: #444;
                strong{
                    color: #1c4354;
                    font-size: 17px;
                    margin-left: 5px;
                }
            }
        }
        
        .orng-btn{
            margin-left: auto;
            margin: 0;
            width: auto;
            height: 40px;
            font-size: 16px;
            padding: 0 10px;
        }
    }
    
        
    .tableWrap{
        overflow: auto;
        table {
            border-collapse: collapse;
            width: 100%;
            th{
                background: #2f4857;
                padding: 10px;
                color: #fff;
                font-weight: 500;
                border-right: 1px solid #3c6873;
                text-align: left;
                span{
                    float: right;
                    position: relative;
                    height: 20px;
                    width: 15px;
                    i{
                        position: absolute;
                        font-size: 22px;
                        right: 0;
                        cursor: pointer;
                        // border:1px solid red;
                        // margin: 10px auto;
                        height: 14px;
                        &:hover{
                            color: #ccc;
                        }
                        &.fa-sort-desc{
                            top: 10px;
                            line-height: 1px;
                        }
                        &.fa-sort-asc{
                            bottom:7px;
                        }
                    }
                }
            }
            td{
                padding: 12px 10px;
                text-align: left;
                color: #4a4a4a;
                border-bottom: 1px solid #dfdfdf;
                .prodDetil{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    img{
                        width: 70px;
                        display: block;
                        margin-right: 15px;
                    }
                    p{
                        text-align: left;
                    }
                }
                .actionBtn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        font-size: 24px;
                        margin-right: 10px;
                    }
                }
                span{
                    color: #60d084;
                    &.ina{
                        color: #b21824;
                    }
                }
                button{
                    font-size: 24px;
                    margin-right: 10px;
                    background-color: transparent;
                    border:none;
                }
            }
        }      
    }
    .orgn-btn{
        display: inline-block;
        margin: 0;
    }
    .pagiCover{
        padding: 15px 0;
        display: flex;
        justify-content: center;
    }
}

@media only screen and  (max-width:1370px){
    .tableCover .tableHead {
        flex-direction: column;
        padding: 5px 10px 10px;
        align-items: flex-start;
        div{
            margin-top: 5px;
        }
    }
}

@media only screen and  (max-width:768px){
    .tableCover {
        .tableHead {
            label{
                display: block;
            }
            input,select{
                min-width: 130px;
                margin: 10px 0;
            }
            .orgn-btn{
                display: block;
            }
        }
        
    }
}
