<app-headerloggedin></app-headerloggedin>

<div class="wrapper">
  <div class="grayWrap">
    <h2> Notification</h2>
    <div class="notifList">
      <ul>
        <li>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>10:30 am, 05-Nov-2020</p>
          </div>
          <strong>Valid till 31st Dec 2020</strong>
        </li>

        <li>
          <div>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</p>
            <p>10:30 am, 05-Nov-2020</p>
          </div>
        </li>
        

        <li>
          <div>
            <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Laboris nisi ut aliquip ex ea commodo consequa</p>
            <p>10:30 am, 05-Nov-2020</p>
          </div>
          <strong>Valid till 31st Dec 2020</strong>
        </li>

        <li>
          <div>
            <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <p>10:30 am, 05-Nov-2020</p>
          </div>
          <strong>Valid till 31st Dec 2020</strong>
        </li>
      </ul>
    </div>
  </div>
</div>
