<app-headerloggedin></app-headerloggedin>

<div class="wrapper">
  <!-- <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://localhost:4200/">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Test</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol> -->

  <div class="categyWrap">
    <div class="sellerWrap">
      <div class="sellerInfo">
        <div class="logoBox">
          <div class="logo">
            <img src="assets/img/shopLogo.jpg" alt="Shop Online">
          </div>
          <h3>Shop Online</h3>
          <p><i class="fa fa-star"></i> (4.0) <u>100 Reviews</u></p>
        </div>
        <img src="assets/img/ads.jpg" alt="Ads">
      </div>
      <div class="innerWrap">
        <div class="filter">
          <div class="sellerNav shadowBox">
            <ul>
              <li>About Us</li>
              <li class="active">Privacy Notice</li>
              <li>Term & Conditions</li>
              <li>FAQ</li>
            </ul>
          </div>
          <div class="shadowBox">
            <div class="headBox">
              <h2>Filter By</h2>
            </div>
            <p>
                Category
                <span>Clear all</span>
            </p>
            <ul>
              <li>
                <input type="checkbox" id="a">
                <label for="a">Electronics</label>
              </li>
              <li>
                <input type="checkbox" id="b">
                <label for="b">Fashion</label>
              </li>
              <li>
                <input type="checkbox" id="c">
                <label for="c">book</label>
              </li>
              <li>
                <input type="checkbox" id="d">
                <label for="d">Health Care</label>
              </li>
              <li>
                <input type="checkbox" id="e">
                <label for="e">Food</label>
              </li>
              <li>
                <input type="checkbox" id="f">
                <label for="f">Toy</label>
              </li>
              <li>
                <input type="checkbox" id="g">
                <label for="g">Home & garden</label>
              </li>
              <li>
                <input type="checkbox" id="h">
                <label for="h">Sports</label>
              </li>
              <li>
                <input type="checkbox" id="i">
                <label for="i">All Categories</label>
              </li>
            </ul>
            <hr>
            
            <p>Price Range</p>
            <ul>
              <li>
                <input type="checkbox" id="a1">
                <label for="a1">0 - 100 $</label>
              </li>
              <li>
                <input type="checkbox" id="b1">
                <label for="b1">101 - 200 $</label>
              </li>
              <li>
                <input type="checkbox" id="c1">
                <label for="c1">210 - 300 $</label>
              </li>
              <li>
                <input type="checkbox" id="d1">
                <label for="d1">301  - 400 $</label>
              </li>
              <li>
                <input type="checkbox" id="e1">
                <label for="e1">401 - 500$</label>
              </li>
            </ul>
            <hr>
    
            <p>Brand</p>
            <ul>
              <li>
                <input type="checkbox" id="a2">
                <label for="a2">Redmi</label>
              </li>
              <li>
                <input type="checkbox" id="b2">
                <label for="b2">Samsung</label>
              </li>
              <li>
                <input type="checkbox" id="c2">
                <label for="c2">Boat</label>
              </li>
              <li>
                <input type="checkbox" id="d2">
                <label for="d2">OnePlus</label>
              </li>
              <li>
                <input type="checkbox" id="e2">
                <label for="e2">JBL</label>
              </li>
            </ul>
            <hr>
    
            <p>Discount</p>
            <ul>
              <li>
                <input type="checkbox" id="a3">
                <label for="a3">10% Off or more</label>
              </li>
              <li>
                <input type="checkbox" id="b3">
                <label for="b3">25% Off or more</label>
              </li>
              <li>
                <input type="checkbox" id="c3">
                <label for="c3">35% Off or more</label>
              </li>
              <li>
                <input type="checkbox" id="d3">
                <label for="d3">50% Off or more</label>
              </li>
            </ul>
            <hr>
    
            <p>Review</p>
            <ul>
              <li>
                <input type="checkbox" id="a3">
                <label for="a3">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  5 Star
                </label>
              </li>
              <li>
                <input type="checkbox" id="b3">
                <label for="b3">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  4 Star
                </label>
              </li>
              <li>
                <input type="checkbox" id="c3">
                <label for="c3">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  3 Star
                </label>
              </li>
              <li>
                <input type="checkbox" id="d3">
                <label for="d3">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  2 Star
                </label>
              </li>
              <li>
                <input type="checkbox" id="e3">
                <label for="e3">
                  <i class="fa fa-star"></i>1 Star
                </label>
              </li>
            </ul>
            <hr>
            <ul>
              <li>
                <input type="checkbox" id="fs">
                <label for="fs">Free Shipping</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="proDuctsList">
          <h2>Store Products</h2>
          <div class="listWrap">
            <div class="headBox">

              <div class="searchBar">
                <div class="selectBox">
                  <select>
                    <option>All Categories</option>
                    <option>Apparel & Accessories</option>
                    <option>Automotive</option>
                    <option>Babies & Maternity</option>
                    <option>Bags & Luggage</option>
                    <option>Beauty & Health</option>
                    <option>Computers & Accessories</option>
                    <option>Consumer Electronics</option>
                    <option>Jewelry</option>
                    <option>Marine</option>
                    <option>Office & School</option>
                    <option>Pets</option>
                    <option>Safety & Security</option>
                    <option>Shoes</option>
                    <option>Sports & Entertainment</option>
                    <option>Tools & Hardware</option>
                    <option>Tools & Hardware</option>
                  </select>
                </div>
                 <input type="text" class="searchBox" placeholder="Search here...">
                 <button class="searchBtn">
                     <i class="fa fa-search"></i>
                 </button>
             </div>

              <div class="sortWrap">
                <strong>Sort By</strong>
                <div class="selectList">
                  <p>Featured <i class="fa fa-chevron-down"></i></p>
                  <ul>            
                    <li>Price: Low to High</li>
                    <li>Price: High to Low</li>
                    <li>Avg. Customer Review</li>
                    <li>Newest Arrivals</li>
                  </ul>
                </div>
              </div>
            </div>
            <ul class="sliderProduct">
              <li>
                <img src="assets/img/product/002.jpg" alt="product">
                <div class="detailTxt">
                  <p>Lorem ipsum dolor</p>
                  <p><span>$100.00</span><strong> $90.00</strong></p>
                  <p><strong>Shipping: $20</strong></p>
                  <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                </div>
              </li>
              <li [routerLink] = "['productDetail']">
                <img src="assets/img/product/001.jpg" alt="product">
                <div class="detailTxt">
                  <p>Lorem ipsum dolor</p>
                  <p><span>$100.00</span><strong> $90.00</strong></p>
                  <p><strong>Shipping: $20</strong></p>
                  <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                </div>
              </li>
              <li>
                <img src="assets/img/product/003.jpg" alt="product">
                <div class="detailTxt">
                  <p>Lorem ipsum dolor</p>
                  <p><span>$100.00</span><strong> $90.00</strong></p>
                  <p><strong>Shipping: $20</strong></p>
                  <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                </div>
              </li>
              <li>
                <img src="assets/img/product/004.jpg" alt="product">
                <div class="detailTxt">
                  <p>Lorem ipsum dolor</p>
                  <p><span>$100.00</span><strong> $90.00</strong></p>
                  <p><strong>Shipping: $20</strong></p>
                  <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                </div>
              </li>
              <li>
                <img src="assets/img/product/002.jpg" alt="product">
                <div class="detailTxt">
                  <p>Lorem ipsum dolor</p>
                  <p><span>$100.00</span><strong> $90.00</strong></p>
                  <p><strong>Shipping: $20</strong></p>
                  <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                </div>
              </li>
              <li>
                <img src="assets/img/product/001.jpg" alt="product">
                <div class="detailTxt">
                  <p>Lorem ipsum dolor</p>
                  <p><span>$100.00</span><strong> $90.00</strong></p>
                  <p><strong>Shipping: $20</strong></p>
                  <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                </div>
              </li>
              <li>
                <img src="assets/img/product/003.jpg" alt="product">
                <div class="detailTxt">
                  <p>Lorem ipsum dolor</p>
                  <p><span>$100.00</span><strong> $90.00</strong></p>
                  <p><strong>Shipping: $20</strong></p>
                  <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                </div>
              </li>
              <li>
                <img src="assets/img/product/004.jpg" alt="product">
                <div class="detailTxt">
                  <p>Lorem ipsum dolor</p>
                  <p><span>$100.00</span><strong> $90.00</strong></p>
                  <p><strong>Shipping: $20</strong></p>
                  <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                </div>
              </li>
              <li>
                <img src="assets/img/product/002.jpg" alt="product">
                <div class="detailTxt">
                  <p>Lorem ipsum dolor</p>
                  <p><span>$100.00</span><strong> $90.00</strong></p>
                  <p><strong>Shipping: $20</strong></p>
                  <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                </div>
              </li>
              <li>
                <img src="assets/img/product/001.jpg" alt="product">
                <div class="detailTxt">
                  <p>Lorem ipsum dolor</p>
                  <p><span>$100.00</span><strong> $90.00</strong></p>
                  <p><strong>Shipping: $20</strong></p>
                  <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                </div>
              </li>
              <li>
                <img src="assets/img/product/003.jpg" alt="product">
                <div class="detailTxt">
                  <p>Lorem ipsum dolor</p>
                  <p><span>$100.00</span><strong> $90.00</strong></p>
                  <p><strong>Shipping: $20</strong></p>
                  <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                </div>
              </li>
              <li>
                <img src="assets/img/product/004.jpg" alt="product">
                <div class="detailTxt">
                  <p>Lorem ipsum dolor</p>
                  <p><span>$100.00</span><strong> $90.00</strong></p>
                  <p><strong>Shipping: $20</strong></p>
                  <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                </div>
              </li>
            </ul>
          </div>
          <div class="paginWrap">
            <p>Showing 1-10 of 30</p>
            <app-pagination></app-pagination>
          </div>
        </div>
        <!-- about seller -->
        <div class="proDuctsList textWrap"  style="display: none;">
          <h3>About us</h3>
          <h4>The standard Lorem Ipsum passage, used since the 1500s</h4>     
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <h4>Section 1.10.32 of "de Finibus Bonorum et Malorum"</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          <h4>1914 translation by H. Rackham</h4>
          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
          <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
        </div>
        <!-- about seller/ -->
      </div>
    </div>
    <div class="rightSlider">
      <h3>Store Offers</h3>
      <div class="offerSlider">
        <div>
          <img src="assets/img/offer03.jpg" alt="offer">
        </div>
      </div>
      <ul class="ingigator">
        <li></li>
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    

  </div>
 
</div>