.relDataRight{
    padding: 20px;
    margin:40px auto;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background-color: #fff;
    h2{
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;  
      margin-bottom: 15px;
      text-align: center;
      color: #434343;
    }
    .innerData{
        max-width: 430px;
        margin: 0 auto;
    }
    p.mb8{
        margin-bottom: 8px;
        font-size: 15px;
    }
    p.mb12{
        margin-bottom: 15px;
        font-size: 15px;
    } 
}
.frmBox{
    max-width: 410px;
    .frmcontrol{
        display: block;
        height: 50px;
        width: 100%;
        border:1px solid #dadada;
        margin-bottom: 15px;
        padding: 0 10px;
        font-size: 15px;
        border-radius: 2px;
    }
    .orng-btn{
        margin-right: 0px;
        background:url(../../assets/img/btnBg.png) #eaac29;
        width: 205px;
        height: 50px;     
        margin: 0 auto;
        display: block;
    }
}
@media all and (max-width:480px){
    .relDataRight h2{
        font-size: 20px;
    }
}