<app-header></app-header>

<div class="wrapper">
  <div class="relDataRight">
    <h2>Change Password</h2>
    <div class="innerData">
        <p class="mb8">1. Your Password must be at least 8 characters long.</p>
        <p class="mb12">2. Include uppercase and lowercase letters numbers and symbols</p>
        <div class="addFrm">
          <div class="frmBox">
            <input type="text" placeholder="New Password" class="frmcontrol">            
            <input type="text" placeholder="Confirm Password" class="frmcontrol">
            <button  class="orng-btn">Change Password</button>
          </div>
        </div>
    </div>
  </div>
</div>