<app-headerseller></app-headerseller>
<div class="wrapper-col">
  <app-leftnav></app-leftnav>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5> Dashboard</h5>
    <div class="innerWrap">
      <div class="flex-col dashboard">
        <div class="dGraph">
          <div class="totalOrder grayBox">
            <h3>Total Orders</h3>
            <h2>100</h2>
            <div class="report">
              <span class="down"><i class="fa  fa-arrow-down"></i>  2.23%</span>
              <span>View Reports</span>
            </div>
          </div>
          <div class="totalSale grayBox">
            <h3>Total Sale</h3>
            <h2>$7890</h2>
            <div class="report">
              <span class="up"><i class="fa  fa-arrow-up"></i>  2.23%</span>
              <span>View Reports</span>
            </div>
          </div>
          <div class="totalSelling grayBox">
            <h3>top Selling Products</h3>
            <img src="assets/img/graph.jpg">
          </div>
        </div>
        <div class="dTable">
          <div class="table grayBox">
            <h3>New Orders</h3>
            <table>
              <tr>
                <th>Date</th>
                <th>Customer Name</th>
                <th>Selling Price</th>
                <th>Status</th>
              </tr>
              <tr>
                <td>11-12-2020</td>
                <td>Customer Name</td>
                <td>$500.00</td>
                <td>Pending</td>
              </tr>
              <tr>
                <td>11-12-2020</td>
                <td>Customer Name</td>
                <td>$500.00</td>
                <td>Pending</td>
              </tr>
              <tr>
                <td>11-12-2020</td>
                <td>Customer Name</td>
                <td>$500.00</td>
                <td>Pending</td>
              </tr>
            </table>
            <button class="orgn-btn">Manage Order</button>
          </div>
          <div class="table grayBox">
            <h3>Return Request</h3>
            <table>
              <tr>
                <th>Date</th>
                <th>Customer Name</th>
                <th>Selling Price</th>
                <th>Status</th>
              </tr>
              <tr>
                <td>11-12-2020</td>
                <td>Customer Name</td>
                <td>$500.00</td>
                <td>Pending</td>
              </tr>
              <tr>
                <td>11-12-2020</td>
                <td>Customer Name</td>
                <td>$500.00</td>
                <td>Pending</td>
              </tr>
              <tr>
                <td>11-12-2020</td>
                <td>Customer Name</td>
                <td>$500.00</td>
                <td>Pending</td>
              </tr>
            </table>
            <button class="orgn-btn">Manage Return</button>
          </div>
          <div class="table grayBox">
            <h3>New Buyer Meagges</h3>
            <table>
              <tr>
                <th>Date</th>
                <th>Customer Name</th>
                <th>Selling Price</th>
                <th>Status</th>
              </tr>
              <tr>
                <td>11-12-2020</td>
                <td>Customer Name</td>
                <td>$500.00</td>
                <td>Pending</td>
              </tr>
              <tr>
                <td>11-12-2020</td>
                <td>Customer Name</td>
                <td>$500.00</td>
                <td>Pending</td>
              </tr>
              <tr>
                <td>11-12-2020</td>
                <td>Customer Name</td>
                <td>$500.00</td>
                <td>Pending</td>
              </tr>
            </table>
            <button class="orgn-btn">Manage Meagges</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

