<div class="footer">
  <div class="wrapper">
    <div class="addressCol">
      <img src="assets/img/footerlogo.png" alt="logo">
      <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.</p>
      <ul>
        <li><i class="fa fa-map-marker"></i> 0123  Main Road, Your City, NY 123456</li>
        <li><i class="fa fa-phone"></i> (000) 2345 - 6789</li>
        <li><i class="fa fa-envelope"></i>  info@abc.com</li>
      </ul>
    </div>

    <div class="infoCol">
      <h2>Information</h2>
      <ul>
        <li><a href="">Our Story</a></li>
        <li><a href="">Privacy & Policy</a></li>
        <li><a href="">Terms & Conditions</a></li>
        <li><a href="">Shipping & Delivery</a></li>
        <li><a href="">FAQs</a></li>
      </ul>
    </div>

    <div class="infoCol social">
      <h2>Our Social</h2>
      <div class="flex-wrap">
        <ul>
          <li><a href=""><i class="fa fa-pinterest-p"></i> Pinterest</a></li>
          <li><a href=""><i class="fa fa-vimeo"></i> Vimeo</a></li>
          <li><a href=""><i class="fa fa-instagram"></i> Instagram </a></li>
        </ul>
        <ul>
          <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href=""><i class="fa fa-youtube"></i> YouTube </a></li>
        </ul>
      </div>
      <h2>Payment Options</h2>
      <ul class="cardList">
        <li><i class="fa fa-cc-mastercard"></i></li>
        <li><i class="fa fa-cc-discover"></i></li>
        <li><i class="fa fa-cc-amex"></i></li>
        <li><i class="fa fa-cc-visa"></i></li>
        <li><i class="fa fa-cc-stripe"></i></li>
        <li><i class="fa fa-cc-diners-club"></i></li>
        <li><i class="fa fa-cc-jcb"></i></li>
      </ul>
    </div>

    <div class="infoCol useFulCol">
      <h2>Other Useful links</h2>
      <ul>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Sell with us</a></li>
        <li><a href="">Sitemap</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="copyRight">&copy; 2020  |   All Rights Reserved.</div>