<app-headerloggedin></app-headerloggedin>
<div class="wrapper">
  <div class="reviewTable">
    <div class="headerRev">
      <h2>Customer Questions & Answers</h2>
      <button>Ask Question</button>
    </div>
    <h3>Latest Reviews</h3>
    <div class="productCol">
      <img src="assets/img/product/001.jpg" alt="img">
      <div>
        <h2 title="Acer Acer One Intel Pentium Gold 4415U Processor 14-inch Display 1366 x 768 Laptop (4 GB Ram/1TB HDD/Windows 10">Acer Acer One Intel Pentium Gold 4415U Processor 14-inch Display 1366 x 768 Laptop (4 GB Ram/1TB HDD/Windows 10 </h2>
        <p>Seller: RetailNet</p>
      </div>
    </div>
    


    <div class="qaCol">
      <table>
        <tr>
          <td>Question: </td>
          <td>Is the product manufactured in India? Samsung team should answer straight and not like:" The country of origin will mentioned in product</td>
        </tr>
        <tr>
          <td>Answer: </td>
          <td>Dear Customer, "All Samsung M series smartphones are manufactured in India in the Samsung factory in Noida, Uttar Pradesh. The 'manufactured by"" details on the product packaging clearly calls out that the smartphone has been manufactured by "Samsung India"</td>
        </tr>

        <tr>
          <td>Question: </td>
          <td>Is the product manufactured in India? Samsung team should answer straight and not like:" The country of origin will mentioned in product</td>
        </tr>
        <tr>
          <td>Answer: </td>
          <td>Dear Customer, "All Samsung M series smartphones are manufactured in India in the Samsung factory in Noida, Uttar Pradesh. The 'manufactured by"" details on the product packaging clearly calls out that the smartphone has been manufactured by "Samsung India"</td>
        </tr>

        <tr>
          <td>Question: </td>
          <td>Is the product manufactured in India? Samsung team should answer straight and not like:" The country of origin will mentioned in product</td>
        </tr>
        <tr>
          <td>Answer: </td>
          <td>Dear Customer, "All Samsung M series smartphones are manufactured in India in the Samsung factory in Noida, Uttar Pradesh. The 'manufactured by"" details on the product packaging clearly calls out that the smartphone has been manufactured by "Samsung India"</td>
        </tr>
      </table>

      <app-pagination></app-pagination>
      
    </div>
    
  </div>
</div>