<app-headeradmin></app-headeradmin>

<div class="wrapper-col">
  <app-leftnava></app-leftnava>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Add Courier</h5>
    <div class="tableCover">
      <table>
        <tr>
          
          <td><input type="text" placeholder="Courier Company Name"></td>
        </tr>
        <tr>
          <td><input type="text" placeholder="Contact No."></td>
        </tr>  
        <tr>
          <td><input type="text" placeholder="Email Id"></td>
        </tr>
      </table>
      <h4>Address</h4>
      <table>
        <tr>
          <td><input type="text" placeholder="Address Line 1"></td>
          <td><input type="text" placeholder="Address Line 2"></td>
        </tr>
        <tr>
          <td><input type="text" placeholder="City"></td>
          <td>
            <div class="selectBox">
              <select>
                <option value="">State</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="selectBox">
              <select>
                <option value="">Country</option>
              </select>
            </div>
          </td>
          <td><input type="text" placeholder="Pin Code"></td>
        </tr>
      </table>
      <h4>Bank details</h4>
      <table>
        <tr>
          <td><input type="text" placeholder="Bank Name"></td>
          <td><input type="text" placeholder="Name"></td>
        </tr>
        <tr>
          <td><input type="text" placeholder="Account Number"></td>
          <td><input type="text" placeholder="IFCS Code"></td>
        </tr>
        <tr>
          <td><input type="text" placeholder="Bank Branch"></td>
          <td></td>
        </tr>
      </table>

      <button class="orng-btn">Add Courier</button>
    </div>
  </div>
</div>
