<app-headeradmin></app-headeradmin>

<div class="wrapper-col">
  <app-leftnava></app-leftnava>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Manage Sellers</h5>
    <div class="tableCover">
      <div class="upperHead">
        <div class="detls">
          <p>Total Sellers :  <strong>101</strong> </p>          
        </div>
      </div>
      <div class="tableHead">
        <div>
          <label for="search">Search User</label>
          <input type="text" id="search">
          <button class="orgn-btn">Search</button>
        </div>
        <div>
          <label for="Filter">Show</label>
          <select id="Filter">
            <option value="">option1</option>
            <option value="">option1</option>
            <option value="">option1</option>
          </select>

          <label for="Filter">Filter</label>
          <select id="Filter">
            <option value="">option1</option>
            <option value="">option1</option>
            <option value="">option1</option>
          </select>
        </div>
      </div>
      <div class="tableWrap">
        <table>
          <tr>
            <th width="3%"><div> S.No.</div></th>
            <th width="7%"><div> Seller id <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="5%"><div> Store Name <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="7%"><div> Registration Date & Time <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="8%"><div> Time Since Last Sale<span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="7%"><div> Purchase Count <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="8%"><div> Subscription Count <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="5%"><div> Order Count <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="7%"><div> Accepted/ Order Ratio(%) <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="5%"><div> Rating <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="9%"><div> Average Order Confirmation Time <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="5%"><div> Average Order Prepation Time <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="10%"><div>Average Question Response Confirmation Time <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="5%"><div> Status <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="4%"><div> Actions</div></th>
          </tr>
          <tr>
            <td>1.</td>
            <td><span>dainel@hotmail.com</span></td>
            <td>Dainel</td>
            <td>31-12-2020 12:28:20</td>
            <td>31-12-2020 12:28:20</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
            <td>2%</td>
            <td>10%</td>            
            <td>20</td>
            <td>20</td>
            <td>2</td>            
            <td><span>Active</span></td>
            <td>
              <button>
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>

          
         
        </table>
      </div>
      <div class="pagiCover">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
</div>