.menuOverlay{
    position: fixed;
    background:rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    z-index: 999;
    .menuCol{
        width: 360px;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding: 10px 18px;
        ul {
            list-style: none;
            li{
                padding: 8px;
            }
            &.last li{
                background: none !important;
                display: none;
            }
        }
        > ul{
            > li{
                padding:0;
                &:hover > ul > li{
                    display: block;
                }
                p{
                    padding: 4px;
                    background: url(../../assets/img/dropdown.png) no-repeat right center;
                    font-weight: 600;
                    
                }
            }
            ul{
                > li{
                    background: url(../../assets/img/dropdown.png) no-repeat right 14px;
                    display: none;
                    &:hover{
                        li{
                            display: block;
                        }
                    }
                }
                ul{
            
                    li{
                        background: none;
                        display: none;
                    }
                }
            }
        }
    }
}