<app-headeradmin></app-headeradmin>

<div class="wrapper-col">
  <app-leftnava></app-leftnava>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Add Page</h5>
    <div class="tableCover">
      <h4>Add Page</h4>
      <table>
        <tr>
          <td>
            <label for="">Page Title</label>
            <input type="text" placeholder="Page Title">
          </td>
        </tr>
        <tr>
          <td>
            <label for="">Parent Category</label>
            <div class="selectBox">
              <select>
                <option value="">Information</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="">Page Description</label>
            <textarea rows="7"></textarea>
          </td>
        </tr>  
        
      </table>
      

      <button class="orng-btn">Add</button>
    </div>
  </div>
</div>
