.tableCover{
    background:#fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    .tableHead{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input, select{
            height: 38px;
            border:1px solid #dddddd;
            min-width: 220px;
            margin: 0 15px;
            padding: 0 10px;
            font-size: 15px;
        }
        .orgn-btn{
            height: 40px;
            font-size: 17px;
        }
    }
    .tableWrap{
        table {
            border-collapse: collapse;
            width: 100%;
            th{
                background: #2f4857;
                padding: 10px;
                color: #fff;
                font-weight: 500;
                border-right: 1px solid #3c6873;
                span{
                    float: right;
                    position: relative;
                    height: 20px;
                    width: 15px;
                    i{
                        position: absolute;
                        font-size: 22px;
                        right: 0;
                        cursor: pointer;
                        // border:1px solid red;
                        // margin: 10px auto;
                        height: 14px;
                        &:hover{
                            color: #ccc;
                        }
                        &.fa-sort-desc{
                            top: 10px;
                            line-height: 1px;
                        }
                        &.fa-sort-asc{
                            bottom:7px;
                        }
                    }
                }
            }
            td{
                padding: 5px 10px;
                text-align: center;
                color: #4a4a4a;
                border-bottom: 1px solid #dfdfdf;
                .prodDetil{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    img{
                        width: 70px;
                        display: block;
                        margin-right: 15px;
                    }
                    p{
                        text-align: left;
                    }
                }
                .actionBtn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        font-size: 24px;
                        margin-right: 10px;
                    }
                }
                span{
                    color: #60d084;
                }
            }
        }      
    }
    .orgn-btn{
        display: inline-block;
        margin: 3px 0;
    }
    .pagiCover{
        padding: 15px 0;
        display: flex;
        justify-content: center;
    }
}



@media only screen and  (max-width:768px){
    .tableCover {
        .tableHead {
            label{
                display: block;
            }
            input,select{
                min-width: 130px;
                margin: 10px 0;
            }
            .orgn-btn{
                display: block;
            }
        }
        .tableWrap {
            width: 100%;
            overflow: auto;
            table{
                width: 1100px;
                th{
                    width: auto !important;
                }
                td .orgn-btn{
                    margin:0 5px;
                }
            }
        }
    }
}