<app-headerseller></app-headerseller>
<div class="wrapper-col">
  <app-leftnav></app-leftnav>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Product Questions</h5>
    <div class="tableCover">
      <div class="tableHead">
        <div>
          <label for="search">Search Products</label>
          <input type="text" id="search">
          <button class="orgn-btn">Search</button>
        </div>
        <div>
          <label for="Filter">Filter</label>
          <select id="Filter">
            <option value="">option1</option>
            <option value="">option1</option>
            <option value="">option1</option>
          </select>
        </div>
      </div>
      <div class="tableWrap">
        <table>
          <tr>
            <th width="5%">So. No.</th>
            <th width="15%">User Name <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></th>
            <th width="40%">Product Name <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></th>
            <th width="10%">Date (Ask)<span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></th>
            <th width="10%">Date (Reply) <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></th>
            <th width="10%">Status <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></th>
            <th width="10%">Actions</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Buyer Name</td>
            <td>Acer Laptop Company</td>
            <td>31-12-2020</td>
            <td>31-12-2020</td>
            <td><span>Replied</span></td>
            <td>
              <button class="orgn-btn">View Details</button>
              <button class="orgn-btn">Product Details</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Buyer Name</td>
            <td>Acer Laptop Company</td>
            <td>31-12-2020</td>
            <td>31-12-2020</td>
            <td><span>Replied</span></td>
            <td>
              <button class="orgn-btn">View Details</button>
              <button class="orgn-btn">Product Details</button>
            </td>
          </tr> 
          <tr>
            <td>1</td>
            <td>Buyer Name</td>
            <td>Acer Laptop Company</td>
            <td>31-12-2020</td>
            <td>31-12-2020</td>
            <td><span>Replied</span></td>
            <td>
              <button class="orgn-btn">View Details</button>
              <button class="orgn-btn">Product Details</button>
            </td>
          </tr> 
          <tr>
            <td>1</td>
            <td>Buyer Name</td>
            <td>Acer Laptop Company</td>
            <td>31-12-2020</td>
            <td>31-12-2020</td>
            <td><span>Replied</span></td>
            <td>
              <button class="orgn-btn">View Details</button>
              <button class="orgn-btn">Product Details</button>
            </td>
          </tr> 
          <tr>
            <td>1</td>
            <td>Buyer Name</td>
            <td>Acer Laptop Company</td>
            <td>31-12-2020</td>
            <td>31-12-2020</td>
            <td><span>Replied</span></td>
            <td>
              <button class="orgn-btn">View Details</button>
              <button class="orgn-btn">Product Details</button>
            </td>
          </tr> 
          <tr>
            <td>1</td>
            <td>Buyer Name</td>
            <td>Acer Laptop Company</td>
            <td>31-12-2020</td>
            <td>31-12-2020</td>
            <td><span>Replied</span></td>
            <td>
              <button class="orgn-btn">View Details</button>
              <button class="orgn-btn">Product Details</button>
            </td>
          </tr>          
        </table>
      </div>
      <div class="pagiCover">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
</div>


<!-- Product Questions modal start -->
<div class="modalWrap" style="display: none;">
  <div class="modalBox">
    <h2>Product Questions</h2>
    <span class="closebtn"></span>
    
    <div class="prodtSection">
      <img src="../../../assets/img/product/002.jpg" alt="product">
      <h1>Acer Acer One Intel Pentium Gold 4415U Processor 14-inc</h1>
    </div>

    <p><strong>Q1- What can you do to prevent spreading genital herpes?</strong></p>
    <p class="grnTxt">- Buyer Name</p>
    <textarea class="textarea-col" rows="5" placeholder="Type..."></textarea>
    <button class="orng-btn">Reply</button>
  </div>
</div>
<!-- Product Questions modal end -->