<app-headeradmin></app-headeradmin>

<div class="wrapper-col">
  <app-leftnava></app-leftnava>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Manage Category</h5>
      <div class="tableCover">     
        <h4>Categories</h4>
        <div class="innerFlex">
          <div class="lftData">
            <div class="addLevel">
              <div class="levelBox">
                <input type="text">
                <button class="orng-btn">Add Level 1</button>
              </div>
              <div class="levelBox">
                <p><strong>Level 1:</strong> Apparel & Accessories</p>
                <input type="text">
                <button class="orng-btn">Add Level 2</button>
              </div>
              <div class="levelBox">
                <p><strong>Level 1:</strong> Apparel & Accessories</p>
                <p><strong>Level 2:</strong> Girls</p>
                <input type="text">
                <button class="orng-btn">Add Level 3</button>
              </div>
            </div>
            
            <div class="uploadArea">
              <p>Select Category Image</p>
              <div class="drag">
                <strong>Choose a file</strong> or drag it here
              </div>
              <p>(Image Size 160pxX50px)</p>
            </div>
    
            <div class="selectLevel">
              <div class="lavel2Wrap">
                <p>
                  <strong>Lavel 1</strong>
                  <span>
                    Active: <em class="grntxt">10</em> |
                    Inactive: <em class="redtxt">0</em>
                  </span>
                </p>
                <select multiple>
                  <option value="">Apparel</option>
                  <option value="">Automotive</option>
                  <option value="">Bags & Luggage</option>
                  <option value="">Beauty & Health</option>
                </select>
                <div class="btnWrap">
                  <button class="gryRed_btn">Deactivate</button>
                  <button class="yello_btn">Edit</button>
                  <button class="red_btn">Delete</button>
                </div>
              </div>
              
              <div class="lavel2Wrap">
                <p>
                  <strong>Lavel 2</strong>
                  <span>
                    Active: <em class="grntxt">10</em> |
                    Inactive: <em class="redtxt">0</em>
                  </span>
                </p>
                <select multiple>
                  <option value="">Boys</option>
                  <option value="">Girls</option>
                  <option value="">Mens</option>
                  <option value="">Womens</option>
                </select>
                <div class="btnWrap">
                  <button class="gryRed_btn">Deactivate</button>
                  <button class="yello_btn">Edit</button>
                  <button class="red_btn">Delete</button>
                </div>
              </div>
              
              <div class="lavel2Wrap">
                <p>
                  <strong>Lavel 3</strong>
                  <span>
                    Active: <em class="grntxt">10</em> |
                    Inactive: <em class="redtxt">0</em>
                  </span>
                </p>
                <select multiple>
                  <option value="">Belts</option>
                  <option value="">Coat</option>
                  <option value="">Custums</option>
                  <option value="">Top</option>
                  <option value="">Golves</option>
                </select>
                <div class="btnWrap">
                  <button class="gryRed_btn">Deactivate</button>
                  <button class="yello_btn">Edit</button>
                  <button class="red_btn">Delete</button>
                </div>
              </div>
            </div>

          </div>
          <button class="orng-btn">Add Category Template</button>
        </div>
      </div>
    </div>
  </div>
