<app-headerseller></app-headerseller>
<div class="wrapper-col">
  <app-leftnav></app-leftnav>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Store Profile</h5>
      <div class="categyWrap">
        <div class="sellerWrap">
          <div class="sellerInfo">
            <div class="logoBox">
              <div class="logo relpos">
                <img src="assets/img/shopLogo.jpg" alt="Shop Online">
                <button class="upload">
                  <input type="file">
                </button>
              </div>
              <h3>Shop Online</h3>
              <p><i class="fa fa-star"></i> (4.0) <u>100 Reviews</u></p>
            </div>
            <div class="relpos">
              <img src="assets/img/ads.jpg" alt="Ads">
              <button class="upload">
                <input type="file">
              </button>
            </div>
          </div>
          <div class="innerWrap">
            <div class="filter">
              <div class="sellerNav shadowBox">
                <ul>
                  <li>About Us</li>
                  <li class="active">Privacy Notice</li>
                  <li>Term & Conditions</li>
                  <li>FAQ</li>
                </ul>
              </div>
              <div class="shadowBox">
                <div class="headBox">
                  <h2>Filter By</h2>
                </div>
                <p>
                    Category
                    <span>Clear all</span>
                </p>
                <ul>
                  <li>
                    <input type="checkbox" id="a">
                    <label for="a">Electronics</label>
                  </li>
                  <li>
                    <input type="checkbox" id="b">
                    <label for="b">Fashion</label>
                  </li>
                  <li>
                    <input type="checkbox" id="c">
                    <label for="c">book</label>
                  </li>
                  <li>
                    <input type="checkbox" id="d">
                    <label for="d">Health Care</label>
                  </li>
                  <li>
                    <input type="checkbox" id="e">
                    <label for="e">Food</label>
                  </li>
                  <li>
                    <input type="checkbox" id="f">
                    <label for="f">Toy</label>
                  </li>
                  <li>
                    <input type="checkbox" id="g">
                    <label for="g">Home & garden</label>
                  </li>
                  <li>
                    <input type="checkbox" id="h">
                    <label for="h">Sports</label>
                  </li>
                  <li>
                    <input type="checkbox" id="i">
                    <label for="i">All Categories</label>
                  </li>
                </ul>
                <hr>
                
                <p>Price Range</p>
                <ul>
                  <li>
                    <input type="checkbox" id="a1">
                    <label for="a1">0 - 100 $</label>
                  </li>
                  <li>
                    <input type="checkbox" id="b1">
                    <label for="b1">101 - 200 $</label>
                  </li>
                  <li>
                    <input type="checkbox" id="c1">
                    <label for="c1">210 - 300 $</label>
                  </li>
                  <li>
                    <input type="checkbox" id="d1">
                    <label for="d1">301  - 400 $</label>
                  </li>
                  <li>
                    <input type="checkbox" id="e1">
                    <label for="e1">401 - 500$</label>
                  </li>
                </ul>
                <hr>
        
                <p>Brand</p>
                <ul>
                  <li>
                    <input type="checkbox" id="a2">
                    <label for="a2">Redmi</label>
                  </li>
                  <li>
                    <input type="checkbox" id="b2">
                    <label for="b2">Samsung</label>
                  </li>
                  <li>
                    <input type="checkbox" id="c2">
                    <label for="c2">Boat</label>
                  </li>
                  <li>
                    <input type="checkbox" id="d2">
                    <label for="d2">OnePlus</label>
                  </li>
                  <li>
                    <input type="checkbox" id="e2">
                    <label for="e2">JBL</label>
                  </li>
                </ul>
                <hr>
        
                <p>Discount</p>
                <ul>
                  <li>
                    <input type="checkbox" id="a3">
                    <label for="a3">10% Off or more</label>
                  </li>
                  <li>
                    <input type="checkbox" id="b3">
                    <label for="b3">25% Off or more</label>
                  </li>
                  <li>
                    <input type="checkbox" id="c3">
                    <label for="c3">35% Off or more</label>
                  </li>
                  <li>
                    <input type="checkbox" id="d3">
                    <label for="d3">50% Off or more</label>
                  </li>
                </ul>
                <hr>
        
                <p>Review</p>
                <ul>
                  <li>
                    <input type="checkbox" id="a3">
                    <label for="a3">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      5 Star
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="b3">
                    <label for="b3">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      4 Star
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="c3">
                    <label for="c3">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      3 Star
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="d3">
                    <label for="d3">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      2 Star
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="e3">
                    <label for="e3">
                      <i class="fa fa-star"></i>1 Star
                    </label>
                  </li>
                </ul>
                <hr>
                <ul>
                  <li>
                    <input type="checkbox" id="fs">
                    <label for="fs">Free Shipping</label>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Store Profile -->
            <div class="proDuctsList" style="display: none;">
              <div class="headBtnWrap">
                <h2>Store Products</h2>
                <div class="btnGrup">
                  <button class="orng-btn sml-btn">Add</button>
                  <button class="orng-btn sml-btn">Edit</button>
                  <button class="orng-btn sml-btn">Delete</button>
                  <button class="orng-btn sml-btn">Add Offers</button>
                </div>
                <p>
                  <input type="checkbox">
                  <label for="">Select All</label>
                </p>
              </div>
              <div class="listWrap">
                <div class="headBox">
    
                  <div class="searchBar">
                    <div class="selectBox">
                      <select>
                        <option>All Categories</option>
                        <option>Apparel & Accessories</option>
                        <option>Automotive</option>
                        <option>Babies & Maternity</option>
                        <option>Bags & Luggage</option>
                        <option>Beauty & Health</option>
                        <option>Computers & Accessories</option>
                        <option>Consumer Electronics</option>
                        <option>Jewelry</option>
                        <option>Marine</option>
                        <option>Office & School</option>
                        <option>Pets</option>
                        <option>Safety & Security</option>
                        <option>Shoes</option>
                        <option>Sports & Entertainment</option>
                        <option>Tools & Hardware</option>
                        <option>Tools & Hardware</option>
                      </select>
                    </div>
                      <input type="text" class="searchBox" placeholder="Search here...">
                      <button class="searchBtn">
                          <i class="fa fa-search"></i>
                      </button>
                  </div>
    
                  <div class="sortWrap">
                    <strong>Sort By</strong>
                    <div class="selectList">
                      <p>Featured <i class="fa fa-chevron-down"></i></p>
                      <ul>            
                        <li>Price: Low to High</li>
                        <li>Price: High to Low</li>
                        <li>Avg. Customer Review</li>
                        <li>Newest Arrivals</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <ul class="sliderProduct">
                  <li>
                    <img src="assets/img/product/002.jpg" alt="product">
                    <div class="stockBox">
                      <p>In Stock : 20</p>
                      <div class="expir-col">
                        <span class="exp">Expires</span>
                        <span>Indefinite</span>
                      </div>
                    </div>
                    <div class="detailTxt">
                      <p>Lorem ipsum dolor</p>
                      <p><span>$100.00</span><strong> $90.00</strong></p>
                      <p><strong>Shipping: $20</strong></p>
                      <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                    </div>
                    <input type="checkbox">
                  </li>
                  <li [routerLink] = "['productDetail']">
                    <img src="assets/img/product/001.jpg" alt="product">
                    <div class="stockBox">
                      <p>In Stock : 20</p>
                      <div class="expir-col">
                        <span class="exp">Expires</span>
                        <span class="textRed">10/jan/2021</span>
                      </div>
                    </div>
                    <div class="detailTxt">
                      <p>Lorem ipsum dolor</p>
                      <p><span>$100.00</span><strong> $90.00</strong></p>
                      <p><strong>Shipping: $20</strong></p>
                      <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                    </div>
                    <input type="checkbox">
                  </li>
                  <li>
                    <img src="assets/img/product/003.jpg" alt="product">
                    <div class="stockBox">
                      <p class="outos">Out of Stock</p>
                      <div class="expir-col">
                        <span class="textRed">Restock before jan/2021</span>
                      </div>
                    </div>
                    <div class="detailTxt">
                      <p>Lorem ipsum dolor</p>
                      <p><span>$100.00</span><strong> $90.00</strong></p>
                      <p><strong>Shipping: $20</strong></p>
                      <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                    </div>
                    <input type="checkbox">
                  </li>
                  <li>
                    <img src="assets/img/product/004.jpg" alt="product">
                     <div class="stockBox">
                      <p>In Stock : 20</p>
                      <div class="expir-col">
                        <span class="exp">Expires</span>
                        <span>Indefinite</span>
                      </div>
                    </div>
                    <div class="detailTxt">
                      <p>Lorem ipsum dolor</p>
                      <p><span>$100.00</span><strong> $90.00</strong></p>
                      <p><strong>Shipping: $20</strong></p>
                      <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                    </div>
                    <input type="checkbox">
                  </li>
                  <li>
                    <img src="assets/img/product/002.jpg" alt="product">
                     <div class="stockBox">
                      <p>In Stock : 20</p>
                      <div class="expir-col">
                        <span class="exp">Expires</span>
                        <span>Indefinite</span>
                      </div>
                    </div>
                    <div class="detailTxt">
                      <p>Lorem ipsum dolor</p>
                      <p><span>$100.00</span><strong> $90.00</strong></p>
                      <p><strong>Shipping: $20</strong></p>
                      <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                    </div>
                    <input type="checkbox">
                  </li>
                  <li>
                    <img src="assets/img/product/001.jpg" alt="product">
                     <div class="stockBox">
                      <p>In Stock : 20</p>
                      <div class="expir-col">
                        <span class="exp">Expires</span>
                        <span>Indefinite</span>
                      </div>
                    </div>
                    <div class="detailTxt">
                      <p>Lorem ipsum dolor</p>
                      <p><span>$100.00</span><strong> $90.00</strong></p>
                      <p><strong>Shipping: $20</strong></p>
                      <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                    </div>
                    <input type="checkbox">
                  </li>
                  <li>
                    <img src="assets/img/product/003.jpg" alt="product">
                     <div class="stockBox">
                      <p>In Stock : 20</p>
                      <div class="expir-col">
                        <span class="exp">Expires</span>
                        <span>Indefinite</span>
                      </div>
                    </div>
                    <div class="detailTxt">
                      <p>Lorem ipsum dolor</p>
                      <p><span>$100.00</span><strong> $90.00</strong></p>
                      <p><strong>Shipping: $20</strong></p>
                      <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                    </div>
                    <input type="checkbox">
                  </li>
                  <li>
                    <img src="assets/img/product/004.jpg" alt="product">
                     <div class="stockBox">
                      <p>In Stock : 20</p>
                      <div class="expir-col">
                        <span class="exp">Expires</span>
                        <span>Indefinite</span>
                      </div>
                    </div>
                    <div class="detailTxt">
                      <p>Lorem ipsum dolor</p>
                      <p><span>$100.00</span><strong> $90.00</strong></p>
                      <p><strong>Shipping: $20</strong></p>
                      <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                    </div>
                    <input type="checkbox">
                  </li>
                  <li>
                    <img src="assets/img/product/002.jpg" alt="product">
                     <div class="stockBox">
                      <p>In Stock : 20</p>
                      <div class="expir-col">
                        <span class="exp">Expires</span>
                        <span>Indefinite</span>
                      </div>
                    </div>
                    <div class="detailTxt">
                      <p>Lorem ipsum dolor</p>
                      <p><span>$100.00</span><strong> $90.00</strong></p>
                      <p><strong>Shipping: $20</strong></p>
                      <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                    </div>
                    <input type="checkbox">
                  </li>
                  <li>
                    <img src="assets/img/product/001.jpg" alt="product">
                     <div class="stockBox">
                      <p>In Stock : 20</p>
                      <div class="expir-col">
                        <span class="exp">Expires</span>
                        <span>Indefinite</span>
                      </div>
                    </div>
                    <div class="detailTxt">
                      <p>Lorem ipsum dolor</p>
                      <p><span>$100.00</span><strong> $90.00</strong></p>
                      <p><strong>Shipping: $20</strong></p>
                      <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                    </div>
                    <input type="checkbox">
                  </li>
                  <li>
                    <img src="assets/img/product/003.jpg" alt="product">
                     <div class="stockBox">
                      <p>In Stock : 20</p>
                      <div class="expir-col">
                        <span class="exp">Expires</span>
                        <span>Indefinite</span>
                      </div>
                    </div>
                    <div class="detailTxt">
                      <p>Lorem ipsum dolor</p>
                      <p><span>$100.00</span><strong> $90.00</strong></p>
                      <p><strong>Shipping: $20</strong></p>
                      <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                    </div>
                    <input type="checkbox">
                  </li>
                  <li>
                    <img src="assets/img/product/004.jpg" alt="product">
                     <div class="stockBox">
                      <p>In Stock : 20</p>
                      <div class="expir-col">
                        <span class="exp">Expires</span>
                        <span>Indefinite</span>
                      </div>
                    </div>
                    <div class="detailTxt">
                      <p>Lorem ipsum dolor</p>
                      <p><span>$100.00</span><strong> $90.00</strong></p>
                      <p><strong>Shipping: $20</strong></p>
                      <p><i class="fa fa-star"></i> (4.5) <a href="">167 Reviews</a></p>
                    </div>
                    <input type="checkbox">
                  </li>
                </ul>
              </div>
              <div class="paginWrap">
                <p>Showing 1-10 of 30</p>
                <app-pagination></app-pagination>
              </div>
            </div>
            <!-- Store Profile/ -->

            <!-- Privacy Notice -->
            <div class="proDuctsList textWrap" style="display: none;">
              <h3>Privacy Notice</h3>
              <div class="textAreaCol">
                <textarea ></textarea>
              </div>
              <button class="orng-btn">Update</button>
            </div>
            <!-- Privacy Notice/ -->

            <!-- FAQ -->
            <div class="proDuctsList textWrap">
              <h3>FAQ</h3>
              <div class="faqCol">
                <input type="text" value="What is Lorem Ipsum Lorem Ipsum is simply dummy">
                <textarea>
1. text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy
2. printing and typesetting industry Lorem n the industry's standard  the industry's
3. typesetting industry Lorem Ipsum has been the industry's standard dummy Ipsum has bee
                </textarea>
                <input type="text" value=" FAQ Tital">
                <textarea></textarea>
              </div>
              <button class="orng-btn">Update</button>
            </div>
            <!-- FAQ/ -->
          </div>
        </div>
        <div class="rightSlider">
          <h3>Store Offers</h3>
          <div class="">
            <div class="offerSlider">
              <div>
                <img src="assets/img/offer03.jpg" alt="offer">
                
              </div>
            </div>
            <ul class="ingigator">
              <li></li>
              <li class="active"></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <button class="orng-btn sml-btn mtb20">Configure Offers</button>
          </div>
          <div class="gryBox">
            <h2>In Stock</h2>
            <h1>200</h1>
            <a href="">View Products</a>
          </div>
          <div class="gryBox">
            <h2>Out of Stock</h2>
            <h1 class="rexTxt">20</h1>
            <a href="">View Products</a>
          </div>
          <div class="gryBox">
            <h2>Target Product</h2>
            <h1>220</h1>
            <a href="">View Products</a>
          </div>
          <div class="gryBox">
            <h2>Total Payable next month</h2>
            <h1>$50.89 USD</h1>
            <p>Monthly Rate : <a href="">$02.24 USD</a></p>
          </div>

        </div>
        
    
      </div>   
  </div>
</div>

