<app-headerloggedin></app-headerloggedin>
<div class="wrapper">
  <div class="detailBox">
    <div class="left-col">
      <img src="assets/img/sliderCloth.jpg" alt="">
    </div>
    <div class="right-col">
      <h2> Milumia Women's Casual Round Neck Basic Pleated Top Cap Sleeve Curved Keyhole Back Blouse </h2>

      <div class="reviewData">
        <p><i class="fa fa-star"></i> (4.5) <a [routerLink]="['custmrReview']">167 Reviews</a></p>
        <div class="selrReview">
          <p [routerLink] = "['sellerProfile']"><span>Seller : </span> <strong>Appario retail private Ltd.</strong></p>
          <p [routerLink] = "['sellerReview']"><i class="fa fa-star"></i> (4.5) <a href=""><b>167 Reviews</b></a></p>
        </div>
      </div>

      <div class="priceBox">
        <strong>Price: </strong>
        <h5>$499</h5>
        <span>$599</span>
        <p>You Save: 100 (20%)</p>
        <div class="cardList">
          <img src="assets/img/cards.jpg" alt="cards">
        </div>
      </div>

      <div class="socialBar">
        <h3>In Stock</h3>
        <ul>
          <li class="twitter"><a href=""><i class="fa fa-twitter"></i></a></li>
          <li class="facebook"><a href=""><i class="fa fa-facebook"></i></a></li>
          <li class="instagram"><a href=""><i class="fa fa-instagram"></i></a></li>
          <li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
          <li class="pinterest"><a href=""><i class="fa fa-pinterest-p"></i></a></li>
        </ul>
      </div>

      <div class="shopBtn">
        <div class="valueBtn">
          <button><i class="fa fa-minus"></i></button>
          <input type="text" value="1">
          <button><i class="fa fa-plus"></i></button>
        </div>
        <button class="orng-btn"><i class="fa fa-shopping-bag"></i> Add to Bag</button>
        <button class="orng-btn"><i class="fa fa-shopping-cart"></i> Buy Now</button>
        <button class="wishList"><i class="fa fa-heart"></i></button>
      </div>

      <div class="addressCol">
        <table>
          <tr>
            <td>
              <p>Delivery by: <strong>Wednesday, Oct 28 </strong></p>
              <p>Available for pick-up at store</p>
            </td>
            <td>
              <p><strong>Delivery:</strong> <input type="text" value="248001"> <span>Change</span></p>
            </td>
            <td align="right">
              <p>Shipping cost: <strong>FREE</strong></p>
              <p class="redTxt"> Report Product Description</p>
            </td>
          </tr>
        </table>
      </div>

      <div class="size-col">
        <div class="selection">
          <label>Size</label>
          <select>
            <option value="">S</option>
          </select>
        </div>
        <span>Size Chart</span>
        <div class="selection">
          <label>Color</label>
          <select>
            <option value="">Red</option>
          </select>
        </div>
      </div>


      <div class="detilTxt">  
        <h3>Specification</h3>
        <p>Tumble dry</p>
        <p>Polyester, Fabric has no stretch</p>
        <p>Feature: Plain, Round Neck, Cute, Pleated, Elegant, Regular Fit, Button, Cap Sleeve, Solid Blouse, Asymmetrical, Petal Sleeve, Curved Hem</p>
        <p>Suitable for Summer, Vacation, Casual Outtings, Office, School, Home and Daily wear</p>
        <p>Suggest to hand wash cold and hang to dry, no bleach</p>
        <p>Please refer to sizes in Product Description as below</p>
      </div>
    </div>
  </div>

  <div class="detailBox">
    <div class="left-col">
      <table class="productSpec">
        
        <tr>
            <td>Optical Drive Type</td>
            <td>Not present</td>
        </tr>
        <tr>
            <td>Card Reader</td>
            <td>USB 3.0</td>
        </tr>
        <tr>
            <td>Operating System</td>
            <td>Windows 10</td>
        </tr>
        <tr>
            <td>Average Battery Life (in hours)</td>
            <td>6.8 Hours</td>
        </tr>
        <tr>
            <td>Are Batteries Included</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Lithium Battery Energy Content</td>
            <td>60 Watt Hours</td>
        </tr>
        <tr>
            <td>Number Of Lithium Ion Cells</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Included Components</td>
            <td>Laptop, Adapter, Manual</td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td>Lenovo</td>
        </tr>
        <tr>
            <td>Country of Origin</td>
            <td>China</td>
        </tr>
        <tr>
            <td>Item Weight</td>
            <td>2 kg 300 g</td>
        </tr>
      </table>
      </div>
      <div class="right-col">
        <h3>Latest Reviews</h3>
        <div class="reviewCol">
            <div class="rate">
              <div class="reviwr">
                <h4>User Name</h4>
                <p>05-Nov-2019</p>
              </div>
              <div class="rating">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                <p class="redTxt">Report Review</p>
              </div>
            </div>
            <div class="rate">
              <div class="reviwr">
                <h4>User Name</h4>
                <p>05-Nov-2019</p>
              </div>
              <div class="rating">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                <p class="redTxt">Report Review</p>
              </div>
              <p class="fedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <button class="grnBtn">
              View More
            </button>
        </div>

        <div class="qaCol">
          <div class="qaHead">
            <h3>Customer questions & answers</h3>
            <button>Ask questions</button>
          </div>
          <table>
            <tr>
              <td>Question: </td>
              <td>Is the product manufactured in India? Samsung team should answer straight and not like:" The country of origin will mentioned in product</td>
            </tr>
            <tr>
              <td>Answer: </td>
              <td>Dear Customer, "All Samsung M series smartphones are manufactured in India in the Samsung factory in Noida, Uttar Pradesh. The 'manufactured by"" details on the product packaging clearly calls out that the smartphone has been manufactured by "Samsung India"</td>
            </tr>

            <tr>
              <td>Question: </td>
              <td>Is the product manufactured in India? Samsung team should answer straight and not like:" The country of origin will mentioned in product</td>
            </tr>
            <tr>
              <td>Answer: </td>
              <td>Dear Customer, "All Samsung M series smartphones are manufactured in India in the Samsung factory in Noida, Uttar Pradesh. The 'manufactured by"" details on the product packaging clearly calls out that the smartphone has been manufactured by "Samsung India"</td>
            </tr>

            <tr>
              <td>Question: </td>
              <td>Is the product manufactured in India? Samsung team should answer straight and not like:" The country of origin will mentioned in product</td>
            </tr>
            <tr>
              <td>Answer: </td>
              <td>Dear Customer, "All Samsung M series smartphones are manufactured in India in the Samsung factory in Noida, Uttar Pradesh. The 'manufactured by"" details on the product packaging clearly calls out that the smartphone has been manufactured by "Samsung India"</td>
            </tr>
          </table>
          <button class="grnBtn">
            View More
          </button>
        </div>
      </div>
  </div>
</div>