.leftNav{
    min-width: 230px;
    max-width: 230px;
    position: absolute;
    left: 0;
    z-index: 1;

    h1{
        background-color: #2b4651;
        margin-bottom: 1px;
        display: flex;
        align-items: center;
        img{
            max-width: 150px;
            padding: 15px;
            display: block;
            margin: 0 auto;
        }
        i{
            color: #fff;
            margin-right: 10px;
            font-size: 20px;
            display: none;
        }
    }
    ul{
        background:#2b4651;
        padding: 10px;
        list-style: none;
        li{
            padding: 20px 10px;
            border-bottom: 1px solid #1c323b;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
            span{
                font-size: 20px;
                margin-right: 5px;
            }
            i{
                float: right;
                font-size: 18px;
            }
            &:last-child{
                border:none;
            }
            ul{
                border-top: 1px solid #1c323b;
                padding: 0;
                margin: 20px 0 -20px;
                display: none;
            }
            &.active, &:hover{
                color: #8bcd8a;
                font-weight: 700;
                ul{
                    display: block;
                    li{
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

@media only screen and  (max-width:768px){
    .leftNav{
        position: fixed;
        top:0;
        height: 100%;
        background-color: #2b4651;
        z-index: 1;
        display: none;
        ul{
            overflow: auto;
            height: 84%;
        }
        h1 i{
            display: block;
        }
    }
}