<app-headerseller></app-headerseller>
<div class="wrapper-col">
  <app-leftnav></app-leftnav>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Store Details</h5>
    <div class="tableCover">
      <div class="colWrap">
        <div class="colHalf">
          <div class="colCover">
            <div class="inputCover">
              <input type="text" placeholder="Full Name">
            </div>
            <div class="inputCover">
              <input type="text" placeholder="Store Name">
            </div>
          </div>

          <div class="colCover">
            <div class="inputCover">
              <input type="text" placeholder="Email">
            </div>
            <div class="inputCover">
              <input type="text" placeholder="Phone No.">
            </div>
          </div>

          <div class="colCover">
            <div class="inputCover">
              <input type="text" placeholder="Offical ID">
            </div>
            <div class="inputCover">
              <button class="orng-btn">Upload in PDF</button>
              <span class="info"><i class="fa fa-info"></i></span>
            </div>
          </div>
          
          <div class="colCover">
            <div class="inputCover">
              <input type="text" placeholder="Taxpayer ID">
            </div>
            <div class="inputCover">
              <button class="orng-btn">Upload in PDF</button>
              <span class="info"><i class="fa fa-info"></i></span>
            </div>
          </div>
          
          <div class="colCover">
            <div class="inputCover">
              <input type="text" placeholder="Taxpayer Identification Number (TIN)">
            </div>
            <div class="inputCover hideSM"></div>
          </div>
        </div>
      </div>

      <div class="colWrap">
        <div class="colHalf">
          <h2>Shipping Address</h2>
          <div class="colCover">
            <div class="inputCover">
              <input type="text" placeholder="Address Line 1">
            </div>
            <div class="inputCover">
              <input type="text" placeholder="Address Line 2">
            </div>
          </div>
        
          <div class="colCover">
            <div class="inputCover">
              <input type="text" placeholder="City">
            </div>
            <div class="inputCover">
              <div class="selectBox">
                <select>
                  <option value="">State</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="colCover">
            <div class="inputCover">
              <div class="selectBox">
                <select>
                  <option value="">Country</option>
                </select>
              </div>
            </div>
            <div class="inputCover">
              <input type="text" placeholder="Pin code">
            </div>
          </div>

          <div class="colCover">
            <div class="inputCover flexGroup">
              <p>Customer can pick up product at this address</p>
              <div class="switchCover">
                <small>Yes</small>
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider"></span>
                </label>
                <small>No</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="colHalf">
          <h2>Select Courier Company</h2>
          <div class="colCover">
            <div class="inputCover">
              <div class="selectBox">
                <select>
                  <option value="">Select Priority Courier 1</option>
                </select>
              </div>
            </div>
            <div class="inputCover">
              <div class="selectBox">
                <select>
                  <option value="">Select Priority Courier 2</option>
                </select>
              </div>
            </div>
          </div>

          <div class="colCover">
            <div class="inputCover">
              <div class="selectBox">
                <select>
                  <option value="">Select Priority Courier 3</option>
                </select>
              </div>
            </div>
            <div class="inputCover">
              <div class="selectBox">
                <select>
                  <option value="">Select Priority Courier 4</option>
                </select>
              </div>
            </div>
          </div>
        
          <div class="colCover">
            <div class="inputCover">
              <input type="text" placeholder="City">
            </div>
            <div class="inputCover">
              <div class="selectBox">
                <select>
                  <option value="">State</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="colCover">
            <div class="inputCover">
              <div class="selectBox">
                <select>
                  <option value="">Select Priority Courier 5</option>
                </select>
              </div>
            </div>
            <div class="inputCover">
              <div class="selectBox">
                <select>
                  <option value="">Select Priority Courier 6</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="colWrap">
        <div class="colHalf">
          <h2>Bank details for Sale</h2>
          <div class="colCover">
            <div class="inputCover">
              <input type="text" placeholder="Bank Name">
            </div>
            <div class="inputCover">
              <input type="text" placeholder="Name">
            </div>
          </div>
          <div class="colCover">
            <div class="inputCover">
              <input type="text" placeholder="Account Number">
            </div>
            <div class="inputCover">
              <input type="text" placeholder="IFCS Code">
            </div>
          </div>
          <div class="colCover">
            <div class="inputCover">
              <input type="text" placeholder="Bank Branch">
            </div>
            <div class="inputCover hideSM"></div>
          </div>
          <h2>Paypal Id</h2>
          <div class="colCover">
            <div class="inputCover">
              <input type="text" placeholder="Enter paypal id">
            </div>
            <div class="inputCover hideSM"></div>
          </div>
        </div>


        <div class="colHalf colQurt">
          <div class="colCover">
            <h2>Credit Card details for Subscription</h2>
            <div class="inputCover">
              <input type="text" placeholder="Card Number">
            </div>
            <div class="inputCover">
              <input type="text" placeholder="Name on the card">
            </div>
            <div class="inputCover triElemt">
              <div class="selectBox">
                <select>
                  <option value="">Month</option>
                </select>
              </div>
              <div class="selectBox">
                <select>
                  <option value="">Year</option>
                </select>
              </div>
              <input type="text" placeholder="CVV">
            </div>
          </div>
          <div class="colCover">
            <h2>Returning Time</h2>
            <div class="inputCover">
              <input type="text" placeholder="Returning time for Pickup">
            </div>
            <div class="inputCover">
              <input type="text" placeholder="Returning time for Shipping">
            </div>
          </div>          
        </div>
      </div>
      
      <button class="orng-btn">Update Profile</button>
    </div>
  </div>
</div>