<app-headerseller></app-headerseller>
<div class="wrapper-col">
  <app-leftnav></app-leftnav>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Add Offer</h5>
    <div class="tableCover">
      <table>
        <tr>
          <td>Name</td>
          <td colspan="2"><input type="text" placeholder=""></td>
        </tr>
        <tr>
          <td>Offer</td>
          <td><input type="text"></td>
          <td><input type="text" class="w130 percent"></td>
        </tr>  
        <tr>
          <td>Start On</td>
          <td><input type="text" class="clndr"></td>
          <td><input type="text" class="w130 clock"></td>
        </tr>
        <tr>
          <td>Ends On</td>
          <td><input type="text" class="clndr"></td>
          <td><input type="text" class="w130 clock"> &nbsp;	(Leave blank for an indefinite term)</td>
        </tr>
        <tr>
          <td>Applies Using Coupon Code</td>
          <td><input type="text"></td>
          <td>(Leave blank to apply without coupon)</td>
        </tr>
        <tr>
          <td>Applies with a minimun Purchase of</td>
          <td><input type="text" class="usd"></td>
          <td>(Leave blank to apply without coupon)</td>
        </tr>
        <tr>
          <td>Applies limit of user per customer</td>
          <td><input type="text"></td>
          <td>(Leave blank to apply without coupon)</td>
        </tr>
        <tr>
          <td>Applies limit of use overall</td>
          <td><input type="text"></td>
          <td>(Leave blank to apply without coupon)</td>
        </tr>
        <tr>
          <td>Applies with other offers</td>
          <td colspan="2">
            <select>
              <option value=""></option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Applies to brand</td>
          <td colspan="2">
            <select>
              <option value=""></option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="3"><input type="checkbox"> Applies to category or product</td>
        </tr>
      </table>

      <div class="catSelect">
        <div class="catCol">
          <h3>Category</h3>
          <div class="selectArea">
            <select>
              <option value="">Select Category</option>
            </select>
            <ul>
              <li>
                <input type="checkbox" id="a">
                <label for="a">Electronics</label>
              </li>
              <li>
                <input type="checkbox" id="b">
                <label for="b">Fashion</label>
              </li>
              <li>
                <input type="checkbox" id="c">
                <label for="c">book</label>
              </li>
              <li>
                <input type="checkbox" id="d">
                <label for="d">Health Care</label>
              </li>
              <li>
                <input type="checkbox" id="e">
                <label for="e">Food</label>
              </li>
              <li>
                <input type="checkbox" id="f">
                <label for="f">Toy</label>
              </li>
              <li>
                <input type="checkbox" id="g">
                <label for="g">Home & garden</label>
              </li>
              <li>
                <input type="checkbox" id="h">
                <label for="h">Sports</label>
              </li>
              <li>
                <input type="checkbox" id="i">
                <label for="i">All Categories</label>
              </li>
            </ul>
          </div>
        </div>

        <div class="catCol">
          <h3>Sub Category 1</h3>
          <div class="selectArea">
            <select>
              <option value="">Select Category</option>
            </select>
            <ul>
              <li>
                <input type="checkbox" id="a">
                <label for="a">Electronics</label>
              </li>
              <li>
                <input type="checkbox" id="b">
                <label for="b">Fashion</label>
              </li>
              <li>
                <input type="checkbox" id="c">
                <label for="c">book</label>
              </li>
              <li>
                <input type="checkbox" id="d">
                <label for="d">Health Care</label>
              </li>
              <li>
                <input type="checkbox" id="e">
                <label for="e">Food</label>
              </li>
              <li>
                <input type="checkbox" id="f">
                <label for="f">Toy</label>
              </li>
              <li>
                <input type="checkbox" id="g">
                <label for="g">Home & garden</label>
              </li>
              <li>
                <input type="checkbox" id="h">
                <label for="h">Sports</label>
              </li>
              <li>
                <input type="checkbox" id="i">
                <label for="i">All Categories</label>
              </li>
            </ul>
          </div>
        </div>

        <div class="catCol">
          <h3>Sub Category 2</h3>
          <div class="selectArea">
            <select>
              <option value="">Select Category</option>
            </select>
            <ul>
              <li>
                <input type="checkbox" id="a">
                <label for="a">Electronics</label>
              </li>
              <li>
                <input type="checkbox" id="b">
                <label for="b">Fashion</label>
              </li>
              <li>
                <input type="checkbox" id="c">
                <label for="c">book</label>
              </li>
              <li>
                <input type="checkbox" id="d">
                <label for="d">Health Care</label>
              </li>
              <li>
                <input type="checkbox" id="e">
                <label for="e">Food</label>
              </li>
              <li>
                <input type="checkbox" id="f">
                <label for="f">Toy</label>
              </li>
              <li>
                <input type="checkbox" id="g">
                <label for="g">Home & garden</label>
              </li>
              <li>
                <input type="checkbox" id="h">
                <label for="h">Sports</label>
              </li>
              <li>
                <input type="checkbox" id="i">
                <label for="i">All Categories</label>
              </li>
            </ul>
          </div>
        </div>

        <div class="catCol">
          <h3>Product</h3>
          <div class="selectArea">
            <select>
              <option value="">Select Product</option>
            </select>
            <ul>
              <li>
                <input type="checkbox" id="a">
                <label for="a">Electronics</label>
              </li>
              <li>
                <input type="checkbox" id="b">
                <label for="b">Fashion</label>
              </li>
              <li>
                <input type="checkbox" id="c">
                <label for="c">book</label>
              </li>
              <li>
                <input type="checkbox" id="d">
                <label for="d">Health Care</label>
              </li>
              <li>
                <input type="checkbox" id="e">
                <label for="e">Food</label>
              </li>
              <li>
                <input type="checkbox" id="f">
                <label for="f">Toy</label>
              </li>
              <li>
                <input type="checkbox" id="g">
                <label for="g">Home & garden</label>
              </li>
              <li>
                <input type="checkbox" id="h">
                <label for="h">Sports</label>
              </li>
              <li>
                <input type="checkbox" id="i">
                <label for="i">All Categories</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <button class="orng-btn">Save</button>
    </div>
  </div>
</div>

