<app-headerseller></app-headerseller>
<div class="wrapper-col">
  <app-leftnav></app-leftnav>
  <div class="rightDataCol">
    <h5>Ratings and Reviews</h5>
    <div class="tableCover">
      <div class="reviewTable">
        <div class="headerRev">
          <h2>Customer reviews</h2>
          <div class="selectBox">
            <select>
              <option value="">Filter</option>
              <option value="">option1</option>
              <option value="">option1</option>
            </select>
          </div>
        </div>
    
        <div class="productCol">
          <div>
            <h2 title="Acer Acer One Intel Pentium Gold 4415U Processor 14-inch Display 1366 x 768 Laptop (4 GB Ram/1TB HDD/Windows 10">Acer Acer One Intel Pentium Gold 4415U Processor 14-inch Display 1366 x 768 Laptop (4 GB Ram/1TB HDD/Windows 10 </h2>
            <p>Seller: <a>RetailNet</a></p>
            <p><i class="fa fa-star"></i> (4.5) 167 Reviews</p>
          </div>
    
          <div class="ratingStatus">
            <img src="assets/img/product/001.jpg" alt="img">
            <div class="reviwBar">
              <ul>
                <li>1 star <span class="prgesss"><span style="width: 80%;"></span></span> 80%</li>
                <li>2 star <span class="prgesss"><span style="width: 50%;"></span></span> 50%</li>
                <li>3 star <span class="prgesss"><span style="width: 30%;"></span></span> 30%</li>
                <li>4 star <span class="prgesss"><span style="width: 10%;"></span></span> 10%</li>
                <li>5 star <span class="prgesss"><span style="width: 5%;"></span></span> 5%</li> 
              </ul>
            </div>
          </div>
         
        </div>
    
    
        <h3>Latest Reviews</h3>
        
        <div class="reviewCol">
            <div class="rate">
              <div class="reviwr">
                <h4>User Name</h4>
                <p>05-Nov-2019</p>
              </div>
              <div class="rating">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                <p class="redTxt">Report Review</p>
              </div>
            </div>
            <div class="rate">
              <div class="reviwr">
                <h4>User Name</h4>
                <p>05-Nov-2019</p>
              </div>
              <div class="rating">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                <p class="redTxt">Report Review</p>
              </div>
              <p class="fedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="rate">
              <div class="reviwr">
                <h4>User Name</h4>
                <p>05-Nov-2019</p>
              </div>
              <div class="rating">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                <p class="redTxt">Report Review</p>
              </div>
              <p class="fedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="rate">
              <div class="reviwr">
                <h4>User Name</h4>
                <p>05-Nov-2019</p>
              </div>
              <div class="rating">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                <p class="redTxt">Report Review</p>
              </div>
              <p class="fedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="rate">
              <div class="reviwr">
                <h4>User Name</h4>
                <p>05-Nov-2019</p>
              </div>
              <div class="rating">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                <p class="redTxt">Report Review</p>
              </div>
              <p class="fedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div><div class="rate">
              <div class="reviwr">
                <h4>User Name</h4>
                <p>05-Nov-2019</p>
              </div>
              <div class="rating">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                <p class="redTxt">Report Review</p>
              </div>
              <p class="fedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            
        </div>   
        
      </div>
    </div>
  </div>
</div>

