<app-headerseller></app-headerseller>
<div class="wrapper-col">
  <app-leftnav></app-leftnav>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Rating and Reviews</h5>
    <div class="tableCover">
      <div class="tableHead">
        <div class="tabBox">
          <ul>
            <li  class="active">Product Rating</li>
            <li>Store Rating</li>
          </ul>
        </div>
        <div class="flrWrap">
          <label for="Filter">Filter</label>
          <select id="Filter">
            <option value="">option1</option>
            <option value="">option1</option>
            <option value="">option1</option>
          </select>
        </div>
      </div>
      <div class="tableWrap">
        <table>
          <tr>
            <th width="5%">So.No.</th>
            <th width="25%">Product Name <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></th>
            <th width="10%">Total Rating</th>
            <th width="10%">5 Star</th>
            <th width="10%">4 Star</th>
            <th width="10%">3 Star</th>
            <th width="10%">2 Star</th>
            <th width="10%">1 Star</th>
            <th width="10%">Action</th>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <div class="prodDetil">
                <img src="https://i.imgur.com/PFUOuGB.png" alt="Product Image">
                <p>Country Delight - Online Milk Delivery App</p>
              </div>
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
              <button class="orgn-btn" [routerLink] = "['/sellerlanding/protdetail']">View Details</button>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <div class="prodDetil">
                <img src="https://i.imgur.com/PFUOuGB.png" alt="Product Image">
                <p>Country Delight - Online Milk Delivery App</p>
              </div>
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
              <button class="orgn-btn" [routerLink] = "['/sellerlanding/protdetail']">View Details</button>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <div class="prodDetil">
                <img src="https://i.imgur.com/PFUOuGB.png" alt="Product Image">
                <p>Country Delight - Online Milk Delivery App</p>
              </div>
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
              <button class="orgn-btn" [routerLink] = "['/sellerlanding/protdetail']">View Details</button>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <div class="prodDetil">
                <img src="https://i.imgur.com/PFUOuGB.png" alt="Product Image">
                <p>Country Delight - Online Milk Delivery App</p>
              </div>
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
              <button class="orgn-btn" [routerLink] = "['/sellerlanding/protdetail']">View Details</button>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <div class="prodDetil">
                <img src="https://i.imgur.com/PFUOuGB.png" alt="Product Image">
                <p>Country Delight - Online Milk Delivery App</p>
              </div>
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
              <button class="orgn-btn" [routerLink] = "['/sellerlanding/protdetail']">View Details</button>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <div class="prodDetil">
                <img src="https://i.imgur.com/PFUOuGB.png" alt="Product Image">
                <p>Country Delight - Online Milk Delivery App</p>
              </div>
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
              <button class="orgn-btn" [routerLink] = "['/sellerlanding/protdetail']">View Details</button>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <div class="prodDetil">
                <img src="https://i.imgur.com/PFUOuGB.png" alt="Product Image">
                <p>Country Delight - Online Milk Delivery App</p>
              </div>
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
              <button class="orgn-btn" [routerLink] = "['/sellerlanding/protdetail']">View Details</button>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <div class="prodDetil">
                <img src="https://i.imgur.com/PFUOuGB.png" alt="Product Image">
                <p>Country Delight - Online Milk Delivery App</p>
              </div>
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
              <button class="orgn-btn" [routerLink] = "['/sellerlanding/protdetail']">View Details</button>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <div class="prodDetil">
                <img src="https://i.imgur.com/PFUOuGB.png" alt="Product Image">
                <p>Country Delight - Online Milk Delivery App</p>
              </div>
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
                <i class="fa fa-star"></i> (4.5) 167 Reviews
            </td>
            <td>
              <button class="orgn-btn" [routerLink] = "['/sellerlanding/protdetail']">View Details</button>
            </td>
          </tr>
         
        </table>
      </div>

      <div class="tableWrap" style="display:none">
        <table class="textLeft">
          <tr>
            <th width="5%">So.No.</th>
            <th width="60%">Feedback &  Rating <i class="fa fa-star"></i> (4.5) 110 Reviews</th>
            <th width="35%">By</th>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </span>
              Don't sell used box
            </td>
            <td>User Name</td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </span>
              Don't sell used box
            </td>
            <td>User Name</td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </span>
              Don't sell used box
            </td>
            <td>User Name</td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </span>
              Don't sell used box
            </td>
            <td>User Name</td>
          </tr>
        </table>
      </div>

      <div class="pagiCover">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
</div>

