.tableCover{
    background:#fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    .tableHead{
        padding: 15px 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 10px;
        select{
            height: 38px;
            border:1px solid #dddddd;
            min-width: 220px;
            margin: 0 15px;
            padding: 0 10px;
            font-size: 15px;
        }
        .orgn-btn{
            height: 40px;
            font-size: 17px;
        }
        .flrWrap{
            margin-top: -15px;
        }
        .tabBox{
            ul{
                display: flex;
                li{
                    background: #dedede;
                    border:1px solid #b8b8b8;
                    border-radius: 4px 4px 0 0;
                    list-style: none;
                    padding: 8px 15px;
                    font-size: 18px;
                    min-width: 160px;
                    text-align: center;
                    border-bottom: none;
                    margin-right: 10px;
                    &.active{
                        background: #5ed281;
                        border-color:#134c2c;
                    }
                }
            }
        }
    }
    .tableWrap{
        table {
            border-collapse: collapse;
            width: 100%;
            th{
                background: #2f4857;
                padding: 10px;
                color: #fff;
                font-weight: 500;
                border-right: 1px solid #3c6873;
                span{
                    float: right;
                    position: relative;
                    height: 20px;
                    width: 15px;
                    i{
                        position: absolute;
                        font-size: 22px;
                        right: 0;
                        cursor: pointer;
                        // border:1px solid red;
                        // margin: 10px auto;
                        height: 14px;
                        &:hover{
                            color: #ccc;
                        }
                        &.fa-sort-desc{
                            top: 10px;
                            line-height: 1px;
                        }
                        &.fa-sort-asc{
                            bottom:7px;
                        }
                    }
                }
            }
            td{
                padding: 8px 10px;
                text-align: center;
                color: #4a4a4a;
                border-bottom: 1px solid #dfdfdf;
                font-size: 14px;
                .prodDetil{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    img{
                        width: 70px;
                        display: block;
                        margin-right: 15px;
                    }
                    p{
                        text-align: left;
                    }
                }
                i{
                    color: #fabb1e;
                    font-size: 20px;
                }
            }
            &.textLeft{
                td, th{
                    text-align: left;
                    i{color:#fabb1e;
                        &.fa-star-o{
                            color: #ccc;
                        }
                    }
                }
                td{
                    font-size: 16px;
                    padding:20px 10px;
                    span{
                        margin: 0 20px 0 5px;
                    }
                }
                th i{
                    margin: 0 6px 0 15px;
                }
            }
        }      
    }
    .orgn-btn{
        display: inline-block;
        margin: 0;
    }
    .pagiCover{
        padding: 15px 0;
        display: flex;
        justify-content: center;
    }
}
@media only screen and  (max-width:768px){
    .tableCover {
        padding: 10px;
        .tableHead {
            .tabBox{
                border-bottom: none;
            }
            label{
                display: none
            }
            select{
                min-width: 130px;
                margin: 5px 0;
            }
        }
        .tableWrap {
            width: 100%;
            overflow: auto;
        table{
            width: 1200px;
            }
        }
    }
}
@media only screen and  (max-width:600px){
    .tableCover .tableHead {
        .flrWrap{
            display: none;
        }
        .tabBox ul li{
            padding: 8px 11px;
            font-size: 15px;
            min-width: 120px;
        }
    }
}