<app-headerloggedin></app-headerloggedin>

<div class="wrapper">
  <div class="ordrStatus">
    <h2>My Orders <span>(077DFG89379505)</span></h2>
    <div class="addressBar">
      <h2>Delivery Address</h2>
      <p><strong>Jhon Doe</strong><span>Home</span> 784512</p>
      <p>5919 Trussville Crossings Pkwy, Birmingham AL 35235</p>
      <p>Near IT Park, Dehradun, Uttarakhand 248001</p>
    </div>
    <hr>
    <table class="myBagWrap">
      <tr>
        <td>
          <img alt="product" src="assets/img/product/001.jpg">
        </td>
        <td>
          <div class="flex-wrap">
            <div class="innerFlex">
              <div>
                <h2>Acer Travelmate TMP214-52 14-inch Laptop (10th Gen Core i5-10210U/8GB/1TB HDD + 256GB
                  <p>Seller: <a>RetailNet </a> </p>
                </h2>
                <div class="priceTab">
                  <p class="p">Price : <span>$499</span> <em>$599</em></p>  
                  <p>You save: 100 (20%) on this Order</p>
                  <p class="p">Quantity : <span>1</span></p>
                </div>
              </div>

              <div class="delvyTab">
                <p><strong>Deliverd Nov 09, 2020</strong></p>
                <p>Your Order has been placed</p>
                <p class="t10">Orderd on <strong>Tue, Oct 27'20</strong></p>
                <div class="idNo">ODG098766787</div>
              </div>
              <div class="steps">
                <ul>
                  <li class="active">
                    <span>Orderd</span>
                  </li>
                  <li class="active">
                    <span>Packed</span>
                  </li>
                  <li class="active">
                    <span>Shipped</span>
                  </li>
                  <li>
                    <span>Deliverd</span>
                  </li>
                </ul>  
                <p>Your order has been packed</p>
              </div>
              
            </div>

            <div class="rightAction">
              <strong>Shipped</strong>
              <button class="trackBtn">Track Order</button>
              <button class="orng-btn">Contact Seller</button>
            </div>

          </div>
        </td>
      </tr>
    </table>
  </div>
</div>