<app-headerseller></app-headerseller>
<div class="wrapper-col">
  <app-leftnav></app-leftnav>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Buyer Message</h5>
    <div class="tableCover">
      <div class="chatList">
        <ul>
          <li class="active">
            <h3>Buyer 1</h3>
            <p>It goes a little something like this.</p>
            <span>10:25 AM</span>
          </li>
          <li>
            <h3>Buyer 1</h3>
            <p>It goes a little something like this.</p>
            <span>10:25 AM</span>
          </li>
          <li>
            <h3>Buyer 1</h3>
            <p>It goes a little something like this.</p>
            <span>10:25 AM</span>
          </li>
          <li>
            <h3>Buyer 1</h3>
            <p>It goes a little something like this.</p>
            <span>10:25 AM</span>
          </li>
          <li>
            <h3>Buyer 1</h3>
            <p>It goes a little something like this.</p>
            <span>10:25 AM</span>
          </li><li>
            <h3>Buyer 1</h3>
            <p>It goes a little something like this.</p>
            <span>10:25 AM</span>
          </li>
          <li>
            <h3>Buyer 1</h3>
            <p>It goes a little something like this.</p>
            <span>10:25 AM</span>
          </li>
        </ul>
      </div>
      <div class="chatBox">
        <h2>Buyer 1</h2>
        <div class="produtBar">
          <div class="imgWrapCol">
            <img src="../../../assets/img/product/002.jpg" alt="product">
          </div>
          <div class="productDatatext">
            <h2>Acer Aspire 3 AMD Ryzen 3 15.6-inch Full HD 1366 x 768 Display Thin and Light </h2>
            <h3>#218909</h3>
            <table>
              <tr>
                <td>Quantity : <strong>1</strong></td>
                <td>Cost <strong>$599</strong></td>
                <td>Discount <strong>$100.00</strong></td>
                <td>Shipping Cost <strong>$20.00</strong></td>
              </tr>
              <tr>
                <td>Order Date : <strong>12-11-2020</strong></td>
                <td>Delivery Date : <strong>12-11-2020</strong></td>
                <td colspan="2">Order Status : <strong>Deliverd</strong></td>                  
              </tr>
              <tr>
                <td colspan="4">
                  <h3>Total : $519.00</h3>
                </td>
              </tr>
            </table>
          </div>
        </div>
        
        <ul>
          <li>
            <h4>Buyer 1:</h4>
            <div class="bubble bblGrn">
              <p>Do you ever hangs oicture on your wall ?</p>
              <span>23-10-2020, 11:24 AM</span>
            </div>
          </li>
          <li>
            <h4>Seller :</h4>
            <div class="bubble">
              <p>Do you ever hangs oicture on your wall ?</p>
              <span>23-10-2020, 11:24 AM</span>
            </div>
          </li>
        </ul>
        <div class="chatArea">
          <input type="text" placeholder="Type your message here...">
          <button><i class="fa fa-send"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

