<app-headerloggedin></app-headerloggedin>
<div class="wrapper">
  <div class="detailBox">
    <div class="left-col">
      <img src="assets/img/slider.jpg" alt="">
    </div>
    <div class="right-col">
      <h2>Acer Acer One Intel Pentium Gold 4415U Processor 14-inch Display 1366 x 768 Laptop (4 GB Ram/1TB HDD/Windows 10 Home/Integrated Graphics/Black/1.8kgs), Z2-485 </h2>

      <div class="reviewData">
        <p ><i class="fa fa-star"></i> (4.5) <a [routerLink]="['custmrReview']">100 Reviews</a></p>
        <div class="selrReview">
          <p  [routerLink] = "['sellerProfile']"><span>Seller : </span> <strong>Appario retail private Ltd.</strong></p>
          <p  [routerLink] = "['sellerReview']"><i class="fa fa-star"></i> (4.5) <a href=""><b>167 Reviews</b></a></p>
        </div>
      </div>

      <div class="priceBox">
        <strong>Price: </strong>
        <h5>$499</h5>
        <span>$599</span>
        <p>You Save: 100 (20%)</p>
        <div class="cardList">
          <img src="assets/img/cards.jpg" alt="cards">
        </div>
      </div>

      <div class="socialBar">
        <h3>In Stock</h3>
        <ul>
          <li class="twitter"><a href=""><i class="fa fa-twitter"></i></a></li>
          <li class="facebook"><a href=""><i class="fa fa-facebook"></i></a></li>
          <li class="instagram"><a href=""><i class="fa fa-instagram"></i></a></li>
          <li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
          <li class="pinterest"><a href=""><i class="fa fa-pinterest-p"></i></a></li>
        </ul>
      </div>

      <div class="shopBtn">
        <div class="valueBtn">
          <button><i class="fa fa-minus"></i></button>
          <input type="text" value="1">
          <button><i class="fa fa-plus"></i></button>
        </div>
        <button class="orng-btn"><i class="fa fa-shopping-bag"></i> Add to Bag</button>
        <button class="orng-btn"><i class="fa fa-shopping-cart"></i> Buy Now</button>
        <button class="wishList"><i class="fa fa-heart"></i></button>
      </div>

      <div class="addressCol">
        <table>
          <tr>
            <td>
              <p>Delivery by: <strong>Wednesday, Oct 28 </strong></p>
              <p>Available for pick-up at store</p>
            </td>
            <td>
              <p><strong>Delivery:</strong> <input type="text" value="248001"> <span>Change</span></p>
            </td>
            <td align="right">
              <p>Shipping cost: <strong>FREE</strong></p>
              <p class="redTxt"> Report Product Description</p>
            </td>
          </tr>
        </table>
      </div>

      <div class="detilTxt">
        <h3>Product Details</h3>
        <p>Processor: 10th Gen Intel Core i7 (i7-10750H) | Speed: 2.6 GHz (Base) - 5.0 GHz (Max) | 6 Cores | 12MB Cache</p>
        <p>OS: Pre-Loaded Windows 10 Home with Lifetime Validity</p>
        <p>Memory and Storage: 8GB RAM DDR4-2933, Upgradable up to 16GB | 1TB HDD + 256GB SSD</p>
        <p>Display: 15.6" Full HD (1920x1080) | Wide Viewing Angle | Anti-Glare | IPS Technology | 120 Hz Refresh Rate</p>
        <p>Graphics: NVIDIA GeForce GTX 1650 4GB GDDR6 Dedicated Graphics</p>
        <p>Cooling: Coldfront 2.0 with Dual Channel thermal mechanism | Q Control 3.0 to select between Quiet, Balance and 
        Performance thermal modes </p>
        <p>Keyboard: Full-size Backlit Keyboard with 100% Anti-Ghosting and soft landing switches | 1.5 mm Key Travel</p>
        <p>Camera (Built-in): HD 720p Camera with Privacy Shutter | Fixed Focus | Integrated Dual Array Microphone</p>
        <p>Audio: 2 x 2W Harman Speakers | Dolby Audio for Gaming Certification</p>
        <p>Battery Life: 5 Hours | Rapid Charge Pro (Up to 50% in 30 Minutes)</p>
        <p>Ports: 4 USB 3.2 Gen 1, 1 USB 3.2 Type-C Gen 1, Headphone/Mic combo jack, HDMI 2.0, Ethernet (RJ-45)</p>
        <p>In the box: Laptop, Power Adapter and User Manual</p>
        <p>Warranty: This genuine Lenovo laptop comes with 1 year manufacturer warranty</p>
        <p>In case of any technical/product related queries, please call 1800-419-7555</p>
      </div>
    </div>
  </div>

  <div class="detailBox">
    <div class="left-col">
      <table class="productSpec">
          <tr>
            <td>Brand	</td>
            <td>Acer</td>
          </tr>
          <tr>
            <td>Brand	</td>
            <td>Lenovo, Hefei Bitland Information Technology Co.,Ltd - No.4088 Jiuxiu
              Road National Hefei economic & technology development area Hefei
              Anhui China LCFC（Hefei) Electronics Technology Co., Ltd. -
              NO.1-3188,YUNGU ROAD, HEFEI EXPORT PROCESSING ZONE.
              ANHUI PROVINCE,CHINA Tech-Com(Shanghai) Computer Co Ltd -
              Ln.58,San-Zhuang Rd., Songjiang EPZ ShangHai, China Wistron
              InfoComm (Kunshan) Co.Ltd - 168# First Avenue, Kunshan Export
              Processing Zone, Kunshan, Jiangsu, China Compal information
              technology (kunshan) CO., LTD. - Address: No. 58, the 1st street,
              Export Processing Zone, Jiangsu, P.R.O.C. CHINA Kunshan Hichain
              storage Co. Ltd - No. 88 Xinxiang Road Avenue Kunshan CBZ Wujiang
              Hichain warehousing LTD - No.2088 Pangjin road, Wujiang economic
              development area, Jiangsu, China</td>
          </tr>
          <tr>
            <td>Series</td>
            <td>Legion 5i</td>
        </tr>
        <tr>
            <td>Colour</td>
            <td>Black</td>
        </tr>
        <tr>
            <td>Form Factor</td>
            <td>Clamshell Gaming</td>
        </tr>
        <tr>
            <td>Item Height</td>
            <td>23 Millimeters</td>
        </tr>
        <tr>
            <td>Item Width</td>
            <td>25.9 Centimeters</td>
        </tr>
        <tr>
            <td>Standing screen display size</td>
            <td>1	5.6 Inches</td>
        </tr>
        <tr>
            <td>Resolution</td>
            <td>1920 x 1080 (Full HD)</td>
        </tr>
        <tr>
            <td>Product Dimensions</td>
            <td>36.3 x 25.9 x 2.3 cm; 2.3 Kilograms</td>
        </tr>
        <tr>
            <td>Batteries</td>
            <td>1 Lithium Polymer batteries required. (included)</td>
        </tr>
        <tr>
            <td>Item model number</td>
            <td>82AU00BAIN</td>
        </tr>
        <tr>
            <td>Processor Brand</td>
            <td>Intel</td>
        </tr>
        <tr>
            <td>Processor Type</td>
            <td>Core i7</td>
        </tr>
        <tr>
            <td>Processor Speed</td>
            <td>2.6 GHz</td>
        </tr>
        <tr>
            <td>RAM Size</td>
            <td>8 GB</td>
        </tr>
        <tr>
            <td>Memory Technology</td>
            <td>DDR4</td>
        </tr>
        <tr>
            <td>Maximum Memory Supported</td>
            <td>16 GB</td>
        </tr>
        <tr>
            <td>Hard Disk Description</td>
            <td>Hybrid Drive</td>
        </tr>
        <tr>
            <td>Speaker Description</td>
            <td>Harman Speakers, with Dolby Atmos</td>
        </tr>
        <tr>
            <td>Graphics Coprocessor</td>
            <td>NVIDIA GeForce GTX 1650</td>
        </tr>
        <tr>
            <td>Graphics Chipset Brand</td>
            <td>Intel</td>
        </tr>
        <tr>
            <td>Graphics Card Description</td>
            <td>Dedicated</td>
        </tr>
        <tr>
            <td>Graphics Card Ram Size</td>
            <td>4 GB</td>
        </tr>
        <tr>
            <td>Connectivity Type</td>
            <td>802.11ax 2x2 Wi-Fi + Bluetooth 5.0, M.2 Card</td>
        </tr>
        <tr>
            <td>Number of USB 3.0 Ports</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Number of HDMI Ports</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Number of Audio-out Ports</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Number of Ethernet Ports</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Number of Microphone Ports</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Optical Drive Type</td>
            <td>Not present</td>
        </tr>
        <tr>
            <td>Card Reader</td>
            <td>USB 3.0</td>
        </tr>
        <tr>
            <td>Operating System</td>
            <td>Windows 10</td>
        </tr>
        <tr>
            <td>Average Battery Life (in hours)</td>
            <td>6.8 Hours</td>
        </tr>
        <tr>
            <td>Are Batteries Included</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Lithium Battery Energy Content</td>
            <td>60 Watt Hours</td>
        </tr>
        <tr>
            <td>Number Of Lithium Ion Cells</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Included Components</td>
            <td>Laptop, Adapter, Manual</td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td>Lenovo</td>
        </tr>
        <tr>
            <td>Country of Origin</td>
            <td>China</td>
        </tr>
        <tr>
            <td>Item Weight</td>
            <td>2 kg 300 g</td>
        </tr>
      </table>
      </div>
      <div class="right-col">
        <h3>Latest Reviews</h3>
        <div class="reviewCol">
            <div class="rate">
              <div class="reviwr">
                <h4>User Name</h4>
                <p>05-Nov-2019</p>
              </div>
              <div class="rating">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                <p class="redTxt">Report Review</p>
              </div>
            </div>
            <div class="rate">
              <div class="reviwr">
                <h4>User Name</h4>
                <p>05-Nov-2019</p>
              </div>
              <div class="rating">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                <p class="redTxt">Report Review</p>
              </div>
              <p class="fedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <button class="grnBtn" [routerLink]="['custmrReview']">
              View More
            </button>
        </div>

        <div class="qaCol">
          <div class="qaHead">
            <h3>Customer questions & answers</h3>
            <button>Ask questions</button>
          </div>
          <table>
            <tr>
              <td>Question: </td>
              <td>Is the product manufactured in India? Samsung team should answer straight and not like:" The country of origin will mentioned in product</td>
            </tr>
            <tr>
              <td>Answer: </td>
              <td>Dear Customer, "All Samsung M series smartphones are manufactured in India in the Samsung factory in Noida, Uttar Pradesh. The 'manufactured by"" details on the product packaging clearly calls out that the smartphone has been manufactured by "Samsung India"</td>
            </tr>

            <tr>
              <td>Question: </td>
              <td>Is the product manufactured in India? Samsung team should answer straight and not like:" The country of origin will mentioned in product</td>
            </tr>
            <tr>
              <td>Answer: </td>
              <td>Dear Customer, "All Samsung M series smartphones are manufactured in India in the Samsung factory in Noida, Uttar Pradesh. The 'manufactured by"" details on the product packaging clearly calls out that the smartphone has been manufactured by "Samsung India"</td>
            </tr>

            <tr>
              <td>Question: </td>
              <td>Is the product manufactured in India? Samsung team should answer straight and not like:" The country of origin will mentioned in product</td>
            </tr>
            <tr>
              <td>Answer: </td>
              <td>Dear Customer, "All Samsung M series smartphones are manufactured in India in the Samsung factory in Noida, Uttar Pradesh. The 'manufactured by"" details on the product packaging clearly calls out that the smartphone has been manufactured by "Samsung India"</td>
            </tr>
          </table>
          <button class="grnBtn"  [routerLink]="['qa']">
            View More
          </button>
        </div>
      </div>
  </div>
</div>

<!-- modal start -->
<div class="modalWrap" style="display: none;">
  <div class="modalBox">
    <h2>Ask Question</h2>
    <span class="closebtn"></span>
   
    <textarea class="textarea-col" rows="6"></textarea>
    <button class="orng-btn">Submit</button>
  </div>
</div>
<!-- modal end -->

<!-- modal start -->
<div class="modalWrap"  style="display: none;">
  <div class="modalBox">
    <h2>Create Review</h2>
    <span class="closebtn"></span>
    <p>Overall rating</p>
    <p>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </p>
    <input type="text" class="select">
    <textarea class="textarea-col" rows="6" placeholder="Add a written review"></textarea>
    <button class="orng-btn">Submit</button>
  </div>
</div>
<!-- modal end -->