<app-headeradmin></app-headeradmin>

<div class="wrapper-col">
  <app-leftnava></app-leftnava>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Set Subscription Rates</h5>
    <div class="tableCover">
      <table>
        <tr>
          <td><input type="text" class="usd" placeholder="Price"></td>
        </tr>
        <tr>
          <td colspan="2">
            <select>
              <option value="">Monthly</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><input type="text" placeholder="Set Trial Periods"> &nbsp;<span> Months	(Leave blank for if no trial periods)</span></td>
        </tr>
        <tr>
          <td><input type="text" placeholder="images per product"></td>
        </tr>  
        <tr>
          <td><input type="text" placeholder="Returns time for Pickup"></td>
        </tr>
       
        <tr>
          <td><input type="text" placeholder="Returns time for Shiping"></td>
        </tr>
      </table>


      <button class="orng-btn">Update</button>
    </div>
  </div>
</div>
