<app-headerloggedin></app-headerloggedin>

<div class="wrapper">
  <div class="ordrStatus">
    <h2>Return/ Refund Status <span>(077DFG89379505)</span></h2>
    <div class="flex-col">
   
      <div class="orderSummry">
        <div class="cartHead">
          <h2>Refund Summary</h2>
        </div>
        <table>
          <tr>
            <td>Refund Subtotal</td>
            <td><h2>$500</h2></td>
          </tr>
          
          <tr>
            <td>Returning Cost</td>
            <td><strong>$20</strong></td>
          </tr>

          <tr class="brdrTB">
            <td>Total Paid</td>
            <td><h2>$520</h2></td>
          </tr>

          <tr>
            <td colspan="2" class="text-center">
              was refunded to your orignal payment method
            </td>
          </tr>
        </table>
        
      </div>
    </div>


    <table class="myBagWrap">
      <tr>
        <td>
          <img alt="product" src="assets/img/product/001.jpg">
        </td>
        <td>
          <div class="flex-wrap">
            <div class="innerFlex">
              <div>
                <h2>Acer Travelmate TMP214-52 14-inch Laptop (10th Gen Core i5-10210U/8GB/1TB HDD + 256GB
                  <p>Seller: <a>RetailNet </a> </p>
                </h2>
                <div class="priceTab">
                  <p class="p">Price : <span>$499</span> <em>$599</em></p>  
                  <p>You save: 100 (20%) on this Order</p>
                </div>
              </div>

              <div class="delvyTab">
                <p><strong>$499 was refunded to your orignal payment method</strong></p>
                <div class="idNo">ODG098766787</div>
              </div>
              <div class="steps">
                <ul>
                  <li class="active">
                    <span>Return pickup scheduled</span>
                  </li>
                  <li class="active">
                    <span>Pick up</span>
                  </li>
                  <li class="active">
                    <span>Return initiated</span>
                  </li>
                  <li class="active">
                    <span>Refund credited</span>
                  </li>
                </ul>  
                <p>Your order has been packed</p>
              </div>
              
            </div>

            <div class="rightAction">
              <strong>Refund issued</strong>
              <button class="orng-btn">Write a product review</button>
              <button class="orng-btn">Leave seller feedback</button>
              <button class="orng-btn">Email Seller</button>
              <button class="orng-btn">Continue shopping</button>
            </div>

          </div>
        </td>
      </tr>
    </table>
  </div>
</div>