.tableCover{
    background:#fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    .tableHead{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input, select{
            height: 38px;
            border:1px solid #dddddd;
            min-width: 220px;
            margin: 0 15px;
            padding: 0 10px;
            font-size: 15px;
        }
        .orgn-btn{
            height: 40px;
            font-size: 17px;
        }
    }
    .tableWrap{
        table {
            border-collapse: collapse;
            width: 100%;
            th{
                background: #2f4857;
                padding: 10px;
                color: #fff;
                font-weight: 500;
                border-right: 1px solid #3c6873;
                span{
                    float: right;
                    position: relative;
                    height: 20px;
                    width: 15px;
                    i{
                        position: absolute;
                        font-size: 22px;
                        right: 0;
                        cursor: pointer;
                        // border:1px solid red;
                        // margin: 10px auto;
                        height: 14px;
                        &:hover{
                            color: #ccc;
                        }
                        &.fa-sort-desc{
                            top: 10px;
                            line-height: 1px;
                        }
                        &.fa-sort-asc{
                            bottom:7px;
                        }
                    }
                }
            }
            td{
                padding: 20px 10px;
                text-align: center;
                color: #4a4a4a;
                border-bottom: 1px solid #dfdfdf;
                .prodDetil{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    img{
                        width: 70px;
                        display: block;
                        margin-right: 15px;
                    }
                    p{
                        text-align: left;
                    }
                }
                .actionBtn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        font-size: 24px;
                        margin-right: 10px;
                    }
                }
                span{
                    color: #60d084;
                }
            }
        }      
    }
    .orgn-btn{
        display: inline-block;
        margin: 0;
    }
    .pagiCover{
        padding: 15px 0;
        display: flex;
        justify-content: center;
    }
}

// Modal
.steps {
    margin: 70px 15px 10px;
    width: 100%;
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    p{        
        color: #909090;
        margin-top: 15px;    
    }
}
.steps ul {
    list-style: none;
}
.steps ul li {
    display: inline-block;
    width: 15px;
    height: 15px;    
    border-radius: 100%;
    background: #d8d8d8;
    margin-right:  14rem;
    position: relative;
    span{
        position: absolute;
        color: #626262;
        top: -23px;
        font-size: 13px;
        font-weight: 700;
        left: -14px;
        white-space: nowrap;
    }
    &:last-child{
        margin-right: 0;
    }
    
}
.steps ul li:first-child {
    margin-left: unset;
}
.steps ul li:first-child:before {
    display: none;
}
.steps ul li:before {
    content: "";
    width: 14rem;
    background-color: #d8d8d8;
    height: 4px;
    position: absolute;
    top: 6px;
    right: 15px;
}
.steps ul .active {
    background: #61cf88;   
    &:first-child:after{
        display: none;
    }
    &:after{
        content: '';
        position: absolute;
        height: 1px;
        width: 15rem;
        bottom: -15px;
        left: -14.7rem;
        background-color: #ccc;

    } 
}
.steps ul .active:before {
    background-color: #61cf88;
}

@media only screen and  (max-width:1370px){
    .tableCover .tableHead {
        flex-direction: column;
        padding: 5px 10px 10px;
        align-items: flex-start;
        div{
            margin-top: 5px;
        }
    }
}
@media only screen and  (max-width:768px){
    .tableCover {
        .tableHead {
            label{
                display: block;
            }
            input,select{
                min-width: 130px;
                margin: 10px 0;
            }
            .orgn-btn{
                display: block;
            }
        }
        .tableWrap {
            width: 100%;
            overflow: auto;
        table{
            width: 990px;
            }
        }
    }
}