<app-headerloggedin></app-headerloggedin>

<div class="wrapper">
  <div class="ordrStatus">
    <h2>Return/ Refund Status <span>(077DFG89379505)</span></h2>
    <div class="flex-col">
    <div class="addressBar">
      <h2>Delivery Address</h2>
      <p><strong>Jhon Doe</strong><span>Home</span> 784512</p>
      <p>5919 Trussville Crossings Pkwy, Birmingham AL 35235</p>
      <p>Near IT Park, Dehradun, Uttarakhand 248001</p>
      </div>
    
      <div class="orderSummry">
        <div class="cartHead">
          <h2>Payment Summary</h2>
        </div>
        <table>
          <tr>
            <td>Payment Method</td>
            <td><h2>Online</h2></td>
          </tr>
          <tr>
            <td>Payment Method</td>
            <td><h2>$599</h2></td>
          </tr>
          <tr>
            <td>Discount</td>
            <td><h2>$20</h2></td>
          </tr>
          <tr>
            <td>Shipping Cost</td>
            <td><strong>Free</strong></td>
          </tr>

          <tr class="brdrTB">
            <td>Total Paid</td>
            <td><h2>$520</h2></td>
          </tr>

         
        </table>
        
      </div>
    </div>
    <hr>

    <table class="myBagWrap">
      <tr>
        <td>
          <img alt="product" src="assets/img/product/001.jpg">
        </td>
        <td>
          <div class="flex-wrap">
            <div class="innerFlex">
              <div>
                <h2>Acer Travelmate TMP214-52 14-inch Laptop (10th Gen Core i5-10210U/8GB/1TB HDD + 256GB
                  <p>Seller: <a>RetailNet </a> </p>
                </h2>
                <div class="priceTab">
                  <p class="p">Price : <span>$499</span> <em>$599</em></p>  
                  <p>You save: 100 (20%) on this Order</p>
                  <p class="p">Quantity : <span>1</span></p>
                </div>
              </div>

              <div class="delvyTab">
                <p><strong>Deliverd Nov 09, 2020</strong></p>
                <p>Your Order has been placed</p>
                <p class="t10">Orderd on <strong>Tue, Oct 27'20</strong></p>
              </div>

              <div class="buttonCol">
                <div>
                  <button class="orng-btn"><i class="fa fa-shopping-bag"></i> Add to Bag</button>
                  <button class="orng-btn"><i class="fa fa-shopping-cart"></i> Buy it Again</button>
                </div>
                <div>
                  <div class="idNo">ODG098766787</div>
                  <div class="idNo">10 days for return</div>
                </div>
              </div>

              <div class="steps">
                <ul>
                  <li class="active">
                    <span>Ordered</span>
                  </li>
                  <li class="active">
                    <span>Packed</span>
                  </li>
                  <li class="active">
                    <span>Shipped</span>
                  </li>
                  <li class="active">
                    <span>Delivered</span>
                  </li>
                </ul>  
                <p>Your order has been delivered</p>
              </div>
              
            </div>

            <div class="rightAction">
              <strong>Delivered</strong>
              <button class="orng-btn">Write a product review</button>
              <button class="orng-btn">Leave seller feedback</button>
              <button class="orng-btn wht-btn">Request on replce items</button>
              <button class="orng-btn">Contact Seller</button>
              <button class="orng-btn">Request Invoice</button>
            </div>

          </div>
        </td>
      </tr>
    </table>
  </div>
</div>