<div class="topHead">
  <div class="wrapper">
      <div class="ct-select-group">
          <select class="ct-select">
              <option value="English">English</option>
              <option value="Spanish">español</option>
          </select>
      </div>

      <div class="flex-wrap">
        <span class="">
          <i class="fa fa-bell"></i>
        </span>

          <ul class="userLogin">
              <li>Hello, bhattacharya
                <!-- <ul>
                  <li>Profile</li>
                  <li>Change Password</li>
                  <li>Logout</li>
                </ul> -->
              </li>
          </ul>
      </div>
  </div>
</div>

