<app-headerloggedin></app-headerloggedin>

<div class="wrapper">
  <div class="ordrStatus">
    <div class="headBox">
      <h2>My Wishlist</h2>
      <div class="searchBar">
          <div class="selectBox">
              <select>
                  <option>All Categories</option>
                  <option>Apparel & Accessories</option>
                  <option>Automotive</option>
                  <option>Babies & Maternity</option>
                  <option>Bags & Luggage</option>
                  <option>Beauty & Health</option>
                  <option>Computers & Accessories</option>
                  <option>Consumer Electronics</option>
                  <option>Jewelry</option>
                  <option>Marine</option>
                  <option>Office & School</option>
                  <option>Pets</option>
                  <option>Safety & Security</option>
                  <option>Shoes</option>
                  <option>Sports & Entertainment</option>
                  <option>Tools & Hardware</option>
                  <option>Tools & Hardware</option>
              </select>
          </div>
          <input class="searchBox" placeholder="Search here..." type="text">
          <button class="searchBtn"><i class="fa fa-search"></i></button>        
      </div>
      <div class="sortWrap">
          <strong>Sort by</strong>
          <div class="selectList">
              <p>Featured<i class="fa fa-chevron-down"></i></p>
              <ul>
                <li>Price: Low to High</li>
                <li>Price: High to Low</li>
                <li>Avg. Customer Review</li>
                <li>Newest Arrivals</li>
              </ul>
          </div>
      </div>
  </div>

  <table class="myBagWrap">
    <tr>
      <td>
        <img alt="product" src="assets/img/product/001.jpg">
      </td>
      <td>
        <div class="flex-wrap">
          <div class="innerFlex">
            <div>
              <h2>Acer Travelmate TMP214-52 14-inch Laptop (10th Gen Core i5-10210U/8GB/1TB HDD + 256GB
                <p>Seller: <a>RetailNet </a> </p>
              </h2>
              <div class="priceTab">
                <p class="p">Price : <span>$499</span> <em>$599</em></p>  
                <p>You save: 100 (20%) on this Order</p>
                <p class="p">Quantity : <span>1</span></p>
                <p><i class="fa fa-star"></i> (4.5) <u>167 Reviews</u></p>
                <p>Added on 12-10-2020</p>
              </div>
            </div>        
          </div>
          <div class="rightAction">
            <button class="orng-btn"><i class="fa fa-shopping-cart"></i> Buy it Again</button>
            <button class="orng-btn"><i class="fa fa-shopping-bag"></i> Add to Bag</button>
            <button class="delBtn"></button>
          </div>

        </div>
      </td>
    </tr>
  </table>
  <hr>

  <table class="myBagWrap">
    <tr>
      <td>
        <img alt="product" src="assets/img/product/001.jpg">
      </td>
      <td>
        <div class="flex-wrap">
          <div class="innerFlex">
            <div>
              <h2>Acer Travelmate TMP214-52 14-inch Laptop (10th Gen Core i5-10210U/8GB/1TB HDD + 256GB
                <p>Seller: <a>RetailNet </a> </p>
              </h2>
              <div class="priceTab">
                <p class="p">Price : <span>$499</span> <em>$599</em></p>  
                <p>You save: 100 (20%) on this Order</p>
                <p class="p">Quantity : <span>1</span></p>
              </div>
            </div>        
          </div>
          <div class="rightAction">
            <button class="orng-btn"><i class="fa fa-shopping-cart"></i> Buy it Again</button>
            <button class="orng-btn"><i class="fa fa-shopping-bag"></i> Add to Bag</button>
            <button class="delBtn"></button>
          </div>

        </div>
      </td>
    </tr>
  </table>
  </div>
</div>