<div class="pagination">
  <ul>
    <li class="disabled"><a href=""><i class="fa fa-step-backward"></i> <span>First</span></a></li>
    <li class="disabled"><a href=""><i class="fa fa-chevron-left"></i> <span>Previous</span></a></li>
    <li><a href="">1</a></li>
    <li class="active"><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href=""><span>Next</span> <i class="fa fa-chevron-right"></i></a></li>
    <li><a href=""><span>Last</span> <i class="fa fa-step-forward"></i></a></li>
  </ul>
</div>