<app-headerloggedin></app-headerloggedin>
<div class="wrapper">
  <div class="grayWrap">
    <h2>My Account</h2>
    <div class="acWrap">
      <div class="navLeft">
        <ul>
          <li class="active">Personal Information</li>
          <li>Manage Address</li>
          <li>Manage Payment Methods</li>
          <li>Change password</li>
        </ul>
      </div>
      <!-- Personal info start -->
       <div class="relDataRight">
        <h3>Personal Information <span>Edit</span></h3>
        <div class="inputWrap">
          <input type="text" placeholder="First Name" value="John">
          <input type="text" placeholder="Last Name" value="carter">
        </div>

        <div class="inputWrap rdowrap">
          <span>Your Gender</span>
          <input type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label>
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label>
        </div>
        <h3>Email Address <span>Edit</span></h3>
        <div class="inputWrap">
          <input type="text" placeholder="emailId" value="carter@swissmail.com">
        </div>

        <h3>Phone No. <span>Edit</span></h3>
        <div class="inputWrap mb0">
          <input type="text" value="0987654321">
        </div>
        <div class="btnWrap">
          <button class="orng-btn">Update</button>
          <button class="orng-btn wt-btn">Cancel</button>
        </div>
      </div>
      <!-- Personal info end -->
     
      <!-- Manage Address start -->
      <!-- <div class="relDataRight">
        <div class="addressBar">
          <div class="addAddress">
            <i class="fa fa-plus"></i>
            <p>Add New Address</p>
          </div>
          <div class="addressCol">
            <h4>John Carter</h4>
            <p>Street:  8 E, S. P. Mukherjee Road, Bhawanipore</p>
            <p>City:   Kolkata</p>
            <p>State/province/area:    West Bengal</p>            
            <p>Zip code  700025</p>
            <p><strong>Phone No.  +913698547852</strong></p>
            <p class="actionAd">
              <span>Edit</span>
              <span>Remove</span>
              <span class="grnTxt">Default</span>
            </p>
          </div>
          <div class="addressCol">
            <h4>John Carter</h4>
            <p>Street:  Shop No 58, 2nd Floor, New Hanuman Bldg, Shamrao Vithal Marg, Lamington Road
            <p>City:   Mumbai</p>
            <p>State/area:    Maharashtra</p>
            <p>Zip code  400007</p>            
            <p><strong>Phone No.  02223808738</strong></p>
            <p class="actionAd">
              <span>Edit</span>
              <span>Remove</span>
              <span>Set as Default</span>
            </p>
          </div>
        </div>
        <div class="addFrm">
          <h2>Add a new address</h2>
          <div class="frmBox">
            <input type="text" placeholder="Full name" class="frmcontrol">
            <input type="text" placeholder="Flat, House no., Building, Company, Apartment" class="frmcontrol">
            <input type="text" placeholder="Area, Colony, Street, Sector, Village" class="frmcontrol">
            <select class="frmcontrol">
              <option value="=">Country</option>
              <option value="India">India</option>
            </select>
            <input type="text" placeholder="Pin Code" class="frmcontrol">
            <select class="frmcontrol">
              <option value="=">Town/City</option>
              <option value="ddn">Dehradun</option>
            </select>
            <select class="frmcontrol">
              <option value="=">State/ Province/ Region</option>
              <option value="ddn">Dehradun</option>
            </select>
            <select class="frmcontrol">
              <option value="=">Address type</option>
              <option value="h">Home</option>
              <option value="o">Office</option>
            </select>
            <input type="text" placeholder="Landmark" class="frmcontrol">
            <input type="text" placeholder="Mobile number" class="frmcontrol">
            <button  class="orng-btn">Add Address</button>
          </div>
        </div>
        
      </div> -->
      <!-- Manage Address end -->

      <!-- Manage Payment Methods start -->
      <!-- <div class="relDataRight">
        <div class="addressBar">
          <div class="addAddress">
            <i class="fa fa-plus"></i>
            <p>Add New Card</p>
          </div>
          <div class="addressCol">
            <h4>ICICI Bank Credit Card</h4>
            <p><img src="assets/img/visa.png" alt="visa"> 876543*****9865</p>
           
            <p class="actionAd">
              <span>Edit</span>
              <span>Remove</span>
              <span class="grnTxt">Default</span>
            </p>
          </div>
          <div class="addressCol">
            <h4>ICICI Bank Credit Card</h4>
            <p><img src="assets/img/visa.png" alt="visa"> 876543*****9865</p>
            <p class="actionAd">
              <span>Edit</span>
              <span>Remove</span>
              <span>Set as Default</span>
            </p>
          </div>
        </div>
        <div class="addFrm">
          <h2>Add a new address</h2>
          <div class="frmBox">
            <input type="text" placeholder="Card Number" class="frmcontrol">
            <input type="text" placeholder="Name on the card" class="frmcontrol">
            
            <div class="cardDtls">
              <i class="fa fa-question-circle-o"></i>
              <select class="frmcontrol">
                <option value="=">Month</option>
              </select>
              <select class="frmcontrol ml-10">
                <option value="=">Year</option>
              </select>
              <input type="text" placeholder="CVV" class="frmcontrol">
              
            </div>
            
            <button  class="orng-btn">Add Card</button>
          </div>
        </div>
        
      </div> -->
      <!-- Manage Payment Methods end -->

      <!-- Change password Start-->
      <!-- <div class="relDataRight">
        <h2>Change Password</h2>
        <p class="mb8">1. Your Password must be at least 8 characters long.</p>
        <p class="mb12">2. Include uppercase and lowercase letters numbers and symbols</p>
        <div class="addFrm">
          <div class="frmBox">
            <input type="text" placeholder="Current Password" class="frmcontrol">
            <input type="text" placeholder="New Password" class="frmcontrol">            
            <input type="text" placeholder="Confirm Password" class="frmcontrol">
            <button  class="orng-btn">Add Card</button>
          </div>
        </div>
        
      </div> -->
      <!-- Change password End-->
    </div>
  </div>
</div>