<app-headerseller></app-headerseller>
<div class="wrapper-col">
  <app-leftnav></app-leftnav>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Promotions and Offers</h5>
    <div class="tableCover">
      <div class="offerWrap">
        <div class="headPrmtn">
          <h3>Promotions
            <p>You can set up to 5 promotions to display in your store's page</p>
          </h3>
          <button class="orng-btn">Add Promotion</button>
        </div>
        <div class="offerCol">
          <div class="offerBlock">
              <img src="../../../assets/img/offer03.jpg" alt="offer">
              <p class="status schdul">Scheduled</p>
              <table>
                <tr>
                  <td width="30%">Name : </td>
                  <td width="70%"><span>Free Shipping</span></td>
                </tr>
                <tr>
                  <td>Type :</td>
                  <td><strong>Shipping Discount</strong></td>
                </tr>
                <tr>
                  <td>Offer :</td>
                  <td><strong>100%</strong></td>
                </tr>

                <tr>
                  <td>Start :</td>
                  <td>15/Nov/2020</td>
                </tr>

                <tr>
                  <td>End :</td>
                  <td>15/Nov/2020</td>
                </tr>
              </table>
              <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">
            <img src="../../../assets/img/offer03.jpg" alt="offer">
            <p class="status">Active</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">
            <img src="../../../assets/img/offer03.jpg" alt="offer">
            <p class="status">Active</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">
            <img src="../../../assets/img/offer03.jpg" alt="offer">
            <p class="status">Active</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">
            <img src="../../../assets/img/offer03.jpg" alt="offer">
            <p class="status">Active</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="offerWrap">
        <div class="headPrmtn">
          <h3>Offers
            <p>You can set up to 5 promotions to display in your store's page</p>
          </h3>
          <button class="orng-btn">Add Promotion</button>
        </div>
        <div class="offerCol">
          <div class="offerBlock">
              <p class="status schdul">Scheduled</p>
              <table>
                <tr>
                  <td width="30%">Name : </td>
                  <td width="70%"><span>Free Shipping</span></td>
                </tr>
                <tr>
                  <td>Type :</td>
                  <td><strong>Shipping Discount</strong></td>
                </tr>
                <tr>
                  <td>Offer :</td>
                  <td><strong>100%</strong></td>
                </tr>

                <tr>
                  <td>Start :</td>
                  <td>15/Nov/2020</td>
                </tr>

                <tr>
                  <td>End :</td>
                  <td>15/Nov/2020</td>
                </tr>
              </table>
              <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">
            <p class="status">Active</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">
            <p class="status">Active</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">
            <p class="status">Active</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">            
            <p class="status">Active</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">
            <p class="status schdul">Scheduled</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">          
            <p class="status">Active</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">
            <p class="status">Active</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">          
            <p class="status">Active</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
          <div class="offerBlock">
            <p class="status">Active</p>
            <table>
              <tr>
                <td width="30%">Name : </td>
                <td width="70%"><span>Free Shipping</span></td>
              </tr>
              <tr>
                <td>Type :</td>
                <td><strong>Shipping Discount</strong></td>
              </tr>
              <tr>
                <td>Offer :</td>
                <td><strong>100%</strong></td>
              </tr>

              <tr>
                <td>Start :</td>
                <td>15/Nov/2020</td>
              </tr>

              <tr>
                <td>End :</td>
                <td>15/Nov/2020</td>
              </tr>
            </table>
            <button class="orng-btn">View Details</button>
          </div>
        </div>
        <div class="pagiWrap">
          <app-pagination></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- modal start -->

<div class="modalWrap" style="display: none;">
  <div class="modalBox returtBox">
    <div class="modalHead2">
      <h2>Offers Details</h2>
      <h2>Hits : <span>150</span></h2>
      <button class="">End Offer Now</button>
    </div>
    <span class="closebtn"></span>
    <div class="insideFlex">
      <div class="oferCover">
        <table class="offerDetl">
          <tr>
            <th></th>
            <th>Active</th>
          </tr>
          <tr>
            <td>Name :</td>
            <td>
              <strong>Black Friday</strong>
            </td>
          </tr>
          <tr>
            <td>Offer :</td>
            <td><span>Sale Discount 25%</span></td>
          </tr>
          <tr>
            <td>Starts :</td>
            <td>15/Nov/2020 00:00</td>
          </tr>
          <tr>
            <td>Ends :</td>
            <td>16/Nov/2020 00:00</td>
          </tr>
          <tr>
            <td>Coupon :</td>
            <td><strong>BFHK68</strong></td>
          </tr>
          <tr>
            <td>Minimum purchase :</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Usage limit per customer :</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Usage limit overall :</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Applies with other offers</td>
            <td>Free Shipping</td>
          </tr>
          <tr>
            <td>Applies to :</td>
            <td>Apparel > All Sub Categories</td>
          </tr>
        </table>
      </div>
      <div class="offerCol">
        <img src="../../../assets/img/sale.PNG" alt="sale offer">
        <button class=""></button>
      </div>
    </div>
  </div>
</div>
<!-- modal end -->

