<app-headerseller></app-headerseller>
<div class="wrapper-col">
  <app-leftnav></app-leftnav>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Subscrption</h5>
    <div class="tableCover">
      <table>
        <tr>
          <td>Subscrption Term</td>
          <td>
            <div>
              <div class="selectBox">
                <select>
                  <option>Indefinite</option>
                </select>
              </div>
              <p>
                The Subscrption <span>Will Not end</span> until specified otherwise
              </p>
            </div>
            <p>Subscrption are automatically renewed on the first day of every month, untill the</p>
            <p>subscrption term is reached</p>
            <h4>We do not make subscrption refunds</h4>
            <h5>We do not make subscrption refunds</h5>
          </td>
        </tr>
        <tr>
          <td>Discount Coupon</td>
          <td>
            <input type="text" value="SB1010">
            <button class="orgn-btn sml-btn">Apply</button>
          </td>
        </tr>
        <tr>
          <td>Payment Details</td>
          <td>
            <ul>
              <li>
                <p>Monthly Subscrption Free</p>
                <strong>$0.02</strong>
              </li>
              <li>
                <p>Discount</p>
                <strong>- $0.02</strong>
              </li>
              <li>
                <p>Total Paybal</p>
                <strong>- $0.00</strong>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="orng-btn">Apply Payment</button>
            <button class="trnspt-btn">Cancel</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

