<app-headeradmin></app-headeradmin>

<div class="wrapper-col">
  <app-leftnava></app-leftnava>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>General Setting</h5>
    <div class="tableCover">
      <h4>Website Logo</h4>
      <div class="uploadArea">
        <div class="drag">
          <strong>Choose a file</strong> or drag it here
        </div>
        <p>(Image Size 160pxX50px)</p>
        <div class="orng-btn relbtn">
          Uplaod
          <input type="file" value="">
        </div>
      </div>
      <h4>Socail Media Page</h4>
      <table>
        <tr>
          <td>
            <input type="text" placeholder="Facebook">
            <button><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" placeholder="Twitter page URL">
            <button><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" placeholder="Instagram">
            <button><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" placeholder="Youtube">
            <button><i class="fa fa-plus-circle"></i></button>
          </td>
        </tr>
      </table>


      <button class="orng-btn">Update</button>
    </div>
  </div>
</div>
