<app-headeradmin></app-headeradmin>

<div class="wrapper-col">
  <app-leftnava></app-leftnava>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Product Review</h5>
    <div class="tableCover">
      <div class="upperHead">
        <div class="detls">
          <p>Total Returns in year :  <strong>101</strong> </p>
          <p>Current Month :  <strong>101</strong> </p>
        </div>
      </div>
      <div class="tableHead">
        <div>
          <label for="search">Search User</label>
          <input type="text" id="search">
          <button class="orgn-btn">Search</button>
        </div>
        <div>
          <label for="Filter">Show</label>
          <select id="Filter">
            <option value="">option1</option>
            <option value="">option1</option>
            <option value="">option1</option>
          </select>

          <label for="Filter">Filter</label>
          <select id="Filter">
            <option value="">option1</option>
            <option value="">option1</option>
            <option value="">option1</option>
          </select>
        </div>
      </div>
      <div class="tableWrap">
        <table>
          <tr>
            <th width="5%"><div> S.No.</div></th>
            <th width="10%"><div> Review id <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="10%"><div> -- id <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="10%"><div> Seller id <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="10%"><div> Date <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="10%"><div> Rating<span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="10%"><div> Commets (brift)<span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="10%"><div> Status <span> <i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i> </span></div></th>
            <th width="5%"><div> Actions</div></th>
          </tr>
          <tr>
            <td>1.</td>
            <td><span>dainel8765</span></td>
            <td><span>dainel@hotmail.com</span></td>
            <td><span>dainel@hotmail.com</span></td>
            <td>31-12-2020</td>
            <td>5</td>
            <td>Product is not good</td>
            <td><span>Reports</span></td>
            <td>
              <button>
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>

          
         
        </table>
      </div>
      <div class="pagiCover">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
</div>