<app-headeradmin></app-headeradmin>

<div class="wrapper-col">
  <app-leftnava></app-leftnava>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Add Offers</h5>
    <div class="tableCover">
      <table>
        <tr>
          <td>Name</td>
          <td colspan="2"><input type="text" placeholder=""></td>
        </tr>
        <tr>
          <td>Offer</td>
          <td><input type="text"></td>
          <td><input type="text" class="w130 percent"></td>
        </tr>  
        <tr>
          <td>Start On</td>
          <td><input type="text" class="clndr"></td>
          <td><input type="text" class="w130 clock"></td>
        </tr>
        <tr>
          <td>Ends On</td>
          <td><input type="text" class="clndr"></td>
          <td><input type="text" class="w130 clock"> &nbsp;	(Leave blank for an indefinite term)</td>
        </tr>
        <tr>
          <td>Applies Using Coupon Code</td>
          <td><input type="text"></td>
          <td>(Leave blank to apply without coupon)</td>
        </tr>
        <tr>
          <td>Applies with a minimun Purchase of</td>
          <td><input type="text" class="usd"></td>
          <td>(Leave blank to apply without coupon)</td>
        </tr>
        <tr>
          <td>Applies limit of user per customer</td>
          <td><input type="text"></td>
          <td>(Leave blank to apply without coupon)</td>
        </tr>
        <tr>
          <td>Applies limit of use overall</td>
          <td><input type="text"></td>
          <td>(Leave blank to apply without coupon)</td>
        </tr>
        <tr>
          <td>Applies with other offers</td>
          <td colspan="2">
            <select>
              <option value=""></option>
            </select>
          </td>
        </tr>
      </table>

      <div class="catSelect">
        <div class="catCol">
          <h3>Select User</h3>
          <div class="selectArea">
            <select>
              <option value="">Select User</option>
            </select>
            <ul>
              <li>
                <input type="checkbox" id="i">
                <label for="i">Select All</label>
              </li>
              <li>
                <input type="checkbox" id="a">
                <label for="a">User 1</label>
              </li>
              <li>
                <input type="checkbox" id="b">
                <label for="b">User 1</label>
              </li>
              <li>
                <input type="checkbox" id="c">
                <label for="c">User 1</label>
              </li>
              <li>
                <input type="checkbox" id="d">
                <label for="d">User 1</label>
              </li>
              <li>
                <input type="checkbox" id="e">
                <label for="e">User 1</label>
              </li>
              <li>
                <input type="checkbox" id="f">
                <label for="f">User 1</label>
              </li>
              <li>
                <input type="checkbox" id="g">
                <label for="g">User 1</label>
              </li>
              <li>
                <input type="checkbox" id="h">
                <label for="h">User 1</label>
              </li>
             
            </ul>
          </div>
        </div>
      </div>

      <button class="orng-btn">Save</button>
    </div>
  </div>
</div>
