<app-headeradmin></app-headeradmin>

<div class="wrapper-col">
  <app-leftnava></app-leftnava>
  <div class="rightDataCol">
    <button class="menuIco">
      <i class="fa fa-bars"></i>
    </button>
    <h5>Reports</h5>
    <div class="tableCover">
      <div class="tableHead">
        <div class="selectWrapr">
          <div class="selectBox">
            <select id="Filter">
             <option value="">All Products</option>
             <option value="">option1</option>
             <option value="">option1</option>
           </select>
          </div>
          <div class="selectBox">
            <select id="Filter">
             <option value="">All Months</option>
             <option value="">option1</option>
             <option value="">option1</option>
           </select>
          </div>
          <div class="selectBox">
            <select id="Filter">
             <option value="">2020</option>
             <option value="">option1</option>
             <option value="">option1</option>
           </select>
          </div>
        </div>
        <div class="radiowrap">
          <ul>
            <li class="grnBg">
              <input type="checkbox" id="a">
              <label for="a">Sale</label>
            </li>
            <li class="ylwBg">
              <input type="checkbox" id="b">
              <label for="b">Refunds</label>
            </li>
          </ul>
        </div>
      </div>
      <h3>All Product</h3>
      <div class="graphWrap">
        <img src="../../../assets/img/graphBig.PNG" alt="Graph">
      </div>


      <!--  -->

      <div class="tableHead brt">
        <div class="selectWrapr">
          <div class="selectBox">
            <select id="Filter">
             <option value="">All Products</option>
             <option value="">option1</option>
             <option value="">option1</option>
           </select>
          </div>
          <div class="selectBox">
            <select id="Filter">
             <option value="">All Months</option>
             <option value="">option1</option>
             <option value="">option1</option>
           </select>
          </div>
          <div class="selectBox">
            <select id="Filter">
             <option value="">2020</option>
             <option value="">option1</option>
             <option value="">option1</option>
           </select>
          </div>
        </div>
        <div class="radiowrap">
          <ul>

            <li class="voitBg">
              <input type="checkbox" id="s">
              <label for="s">Subscription</label>
            </li>
            </ul>
        </div>
      </div>
      <h3>All Product</h3>
      <div class="graphWrap">
        <img src="../../../assets/img/graphBig.PNG" alt="Graph">
      </div>
    </div>
  </div>
</div>
